[2011-09-22 08:54] espeed opened #3 "When sending a Python dict to Jython, the unpacked keys and values are double quoted"
I'm using MessagePack to serialize a Python dict, and I am sending it over a ZeroMQ socket to a Jython ZeroMQ server.  When you unpack it in Jython, you have to convert the keys and values to strings, and then the keys and values have double quotes that you have to manually strip off:

[code]

For example, if you don't run clean_data(), you would get something like this...

[code]

The data being

[2011-09-25 18:37] mgenov opened #4 "Map serialization cannot find templates for Object classes"
Hello,
It seems that map serialization fails when Map contains an Object values. Here is the full stack trace and the code that is causing this error:

org.msgpack.MessageTypeException: Cannot find template for class java.lang.Object class. Try to add @Message annotation to the class or call MessagePack.register(Type).
    at org.msgpack.template.TemplateRegistry.lookup(TemplateRegistry.java:220)

[2012-07-02 07:11] muga opened #15 "MessagePack For Android"
Hi Mikołaj,

I saw your code on mikkoz/msgpack-java.git.  It is very nice!

The following is my idea for consolidating your contribution and the
existing msgpack-java.  The idea is based on subproject-nization
(loose coupling).  For example,

[code]

In my idea, if you execute the following commands, msgpack-java for
Android may be created by maven.  msgpack-java for Android uses the
artifact of t

[2012-07-03 06:28] tatsuhiko-inoue opened #16 "Serialization fails with non-default class loader"
Hello.
It seems that serialization fails when serialization target is loaded by non-default class loader,
which has been registered to MessagePack instance using MessagePack#setClassLoader.

Here is the exception:

Exception in thread "main" java.lang.NoClassDefFoundError: A
          at A_$$_Template_1207296490_0.write(A_$$_Template_1207296490_0.java)
          at org.msgpack.template.AbstractTem

[2012-07-19 05:47] kmizumar opened #17 "test class name typo"
I think TestUnpackerIterator is a correct name for test class, exists in src/test/java/org/msgpack/unpacker/TestUnpackerInterator.java

[2012-07-23 01:47] #17 closed, assigned to nobody

[2012-10-04 19:26] ghetolay opened #19 "Automatic class register"
It's not really a issue it's a question :

Why can't classes be automatically registered ?

I'm actually working with JSON and I need something similar for binary data. Message Pack looks really great but the registration is a big problem for me. I'm working in a API so I don't know which classes will need to be registered.
Why TemplateRegistry does not register the class if he do not find a match

[2012-10-10 20:35] ivolo opened #20 "ConcurrentHashMap does not register"
How do I serialize ConcurrentHashMap? Gives the following exception when you try to register it:

https://groups.google.com/forum/?fromgroups=#!topic/msgpack/KPx-dP3hnE0

[2012-10-14 21:37] #20 closed, assigned to nobody

[2012-12-08 14:18] mikolak-net opened #22 "Add Android compatibility to the Java version of msgpack-rpc"
Similarly to the main msgpack package, the Java msgpack-rpc is incompatible with Android. Here's a description of the underlying problem:
http://stackoverflow.com/questions/7529522/using-messagepack-with-android/7624106#7624106
and an implementation of a solution:
https://github.com/mikkoz/msgpack-rpc/tree/master/java
.

However, note that the aforementioned solution is more invasive to the API th

[2013-02-06 13:33] ghost opened #30 "Unsigned int failes for values above (2³² / 2)"
Im passing data into messagepack unpacker from a internet socket. When I parse a uint32 that is 0x80000000 and above, due to signness in java, the number will be parsed as negative number and the MessageTypeException below from the IntAccept.class is caught.

[code]

It should probably be made as a long instead, and if its negative then add 2³² to the number. This should fix it.

[2013-02-07 16:02] jmfayard opened #31 "How to compile msgpack-java for android ?"
Hello,

Sorry for the newbie question, but I don't understand at all how to create a .jar of msgpack-java that I could include in an android project

Could you provide some guidance ?

   jm

[2013-02-13 14:05] #31 closed, assigned to komamitsu

[2013-02-28 01:57] oza opened #34 "Add addClassLoader method to JavassistTemplateBuilder"
The commit https://github.com/msgpack/msgpack-java/commit/364c4737699411ab6f530e7a7a485a81ada17a13 removed addClassLoader method.

The method `addClassLoader` should come back again, because this method seems to be still useful and is used in some applications(e.g. msgpack-scala).

This problem also blocks the pull request https://github.com/msgpack/msgpack-java/pull/33.

[2013-03-03 08:49] #34 closed, assigned to oza

[2013-03-03 08:52] #30 closed, assigned to nobody

[2013-03-18 04:52] #15 closed, assigned to nobody

[2013-03-18 04:53] #3 closed, assigned to nobody

[2013-03-18 04:55] #16 closed, assigned to nobody

[2013-03-23 13:48] sergey-lapin opened #37 "Msgpack fails in android"
Hello everybody!
I did not found any information about msgpack-java in android except this discussion http://stackoverflow.com/questions/7529522/using-messagepack-with-android , from which I considered that msgpack-java-0.6.7 supports android.
So made package by maven and tried to use it.

I wrote simple serialize/deserialize test:

[code]

and it failed here
      MyMessage dst = msgpack.read(byt

[2013-03-25 17:56] velvia opened #38 "IntegerValue should capture the size of the integer"
The MessagePack serialized format knows the size of an Int, whether it's 8, 16, 32, or 64 bits.  However the current IntegerValue class loses this information, and it forces the user to pick the right method, getShort, getInt, etc.   It would be nice for IntegerValue to capture the original size of the integer when deserializing, and the same thing when it serializes.

[2013-04-01 20:31] #22 closed, assigned to nobody

[2013-04-09 06:35] #37 closed, assigned to nobody

[2013-08-07 19:38] roblabla opened #40 "Lack of Documentation"
Hello,
I've been trying to use msgpack-java for a project of mine, and I keep having to look at the source code and trace through methods to try and understand how things work together. The main problem is that almost nothing outside of the main MessagePack class is documented.

Let's take a concrete example : I wanted to implement my own serializer for a certain type. I figured I would need to su

[2013-08-12 21:50] mikolak-net opened #41 "Deserializing collections with interface/abstract type parameter fails"
Recently I'm stumped with a scenario where I deserialize a collection having a generic type parameter that is an interface causes an exception. Example:

[code]

Calling this:

[code]

results in a *org.msgpack.MessageTypeException* in *AnyTemplate*.

**Do I really need to write a custom template for this? Shouldn't this be supported out of the box?**

[2013-08-16 01:54] oza opened #44 "Some source files should expand tabs"
Some source files, especially test files, are mixing tabs and spaces. This make it harder to read source codes. We should expand tabs into 4 spaces.

[2013-08-16 01:56] oza opened #45 "Support to capture the size of the float-related Value"
Float version of the issue #38.

[2013-08-16 08:00] oza opened #46 "Add a documentation about how types are mapped"
Related to #38 #40, we should add a documentation about how types are mapped.

[2013-08-17 08:46] #45 closed, assigned to nobody

[2013-08-27 03:42] oza opened #48 "Requires more datail Javadocs"
This issue is pointed in #40 by @roblabla and @mikkoz. Thanks for their report :-)
The point to fix is as follows(quoted from #40):

Javadoc:
- all annotations
- all interfaces (including, but not limited to, Template, TemplateBuilder, Packer, Unpacker, Value, MessagePackable, etc.)
- all "entry" classes, such as MessagePack,
- standard implementation classes, ones you would expect to occur in sta

[2013-08-27 03:44] oza opened #49 "Requires more detail documents on github Wiki"
This issue is pointed in #40 by @roblabla and @mikkoz. Thanks for their report :-)
The point to fix is as follows(quoted from #40):

Wiki:
- description of various annotations,
- examples (with diagrams if possible) how pack/unpack of MessagePack works in Java.
- description about Value type.

NOTE: http://wiki.msgpack.org is removed because of resource problem, so we need to migrate wiki into git

[2013-08-27 04:05] oza opened #50 "Requires useful links on Java tab of msgpack.org"
This issue is pointed in #40 by @roblabla and @mikkoz. Thanks for their report :-)
The point to fix is as follows(quoted from #40):

"Java" tab on the main page:
* (Partially done) basic pack/unpack code.
* links to Quick Start in the Wiki.

NOTE: This problem is also related to #48.

[2013-09-14 08:21] trK54Ylmz opened #51 "Cross serialization/deserialization PHP & Java"
I serialize array on PHP and putting data to database after Java takes data from database and deserializing the data. But I got error
- org.msgpack.MessageTypeException: Expected array, but got integer value

I think its encoding problem. There is no problem with PHP & Python serialize/deserialize process.

[2013-09-15 07:19] raihan26 opened #52 "How to serialize JSON document using Messagepack?"
I am planning to use Messagepack in our project. Currently, we are using JSON in our project and we are writing serialize JSON document into Cassandra. Now we are thinking to use Messagepack which is an efficient binary serialization format.

I am trying to find a good example which shows me to use Messagepack on JSON document but I am not able to find it yet.

Below is my main class code which wi

[2013-09-27 01:15] oza opened #53 "maven-nexus-plugin support"
Proposed by @frsyuki. I'll do it later.
https://repository.sonatype.org/content/sites/maven-sites/nexus-maven-plugin/

[2013-09-27 01:19] oza opened #54 "Bin and String type support"
New msgpack spec includes String type. It should be useful and supported in msgpack-java.

Discussion is available at: https://github.com/msgpack/msgpack/issues/128
str format is defined at: https://github.com/msgpack/msgpack/blob/master/spec.md

[2013-10-18 22:16] bwhite opened #56 "Object field serialization order"
How are object fields supposed to be serialized?  The obvious way is in the order that they are listed but the behavior is not clear (documentation is necessary, is it consistent?  doesn't appear to be alphabetical).  Most other msgpack libraries (e.g., go) serialize objects to dictionaries (this serializes to arrays) which makes interoperability hard, not being able to control the order makes it

[2013-11-07 11:31] cbuehler opened #57 "OSGi - javassist.NotFoundException: org.msgpack.template.builder.JavassistTemplateBuilder$JavassistTemplate"
I am trying to use msgpack-java as an OSGi bundle.
In OSGi, each bundle has its own classloader. In my case, these are 3 different ones: one for msgpack, one for javassist and one for my own bundle.

So when trying to use msgpack as it is, I get this exception:

[code]

When I try to tell msgpack to use the classloader which can find this class
[code]
I get a bit further, but still get an exceptio

[2013-11-19 15:04] is opened #59 "Create the tempalte for combined type when Unpacking."
I will deserialize a dict which type is
Map<String, ? extend MessagePackable> in my code.

I can't get tListTemplate with correct elementTemplate,
and I can't access msgpack.lookup function through
Unpacker object directly.

I suggest to add new read function or expose template
lookup function in Unpacker interface.

[2013-11-20 12:35] santoshjoshi opened #60 "Problem while using Abstract Classes :Cannot build template for abstract classes"
I have a class like below  which i want to serialize using Messagepack, I wrote the below code for same but  facing serialization exception for templates for abstract classes.

[code]

main class

[code]
## EXCEPTION:

Exception in thread "main" org.msgpack.MessageTypeException: org.msgpack.template.builder.TemplateBuildException: Cannot build template for abstract class: org.joda.time.Chronology

[2013-11-24 13:17] verandar opened #61 "JSON problem"
[code]

Result
================================
new MessagePack()
1
2
new JSON()
12

Exception
================================
Exception in thread "main" java.io.IOException: Unexpected token END OF FILE at position 0.
	at org.msgpack.util.json.JSONUnpacker.nextValue(JSONUnpacker.java:58)
	at org.msgpack.unpacker.Converter.ensureValue(Converter.java:54)
	at org.msgpack.unpacker.Converter.getTop(C

[2013-12-02 04:30] #51 closed, assigned to nobody

[2013-12-02 04:35] #52 closed, assigned to nobody

[2013-12-02 04:37] #4 closed, assigned to nobody

[2013-12-14 09:43] #54 closed, assigned to oza

[2013-12-15 16:10] #59 closed, assigned to nobody

[2014-02-08 03:20] mattbishop opened #70 "Upgrade to Javassist 3.18.1"
Msgpack currently depends on Javassist 3.16.1, which fails spectacularly on Java7:

ava.lang.VerifyError: Inconsistent stackmap frames at branch target 38
Exception Details:
  Location:
    com/elasticpath/rest/resource/assets/impl/AssetResourceOperatorImplUriTest.<init>()V @38: aload_1
  Reason:
    Type uninitializedThis (current frame, locals[1]) is not assignable to 'com/elasticpath/rest/resou

[2014-02-10 03:17] #70 closed, assigned to nobody

[2014-02-14 15:39] #60 closed, assigned to nobody

[2014-02-14 15:43] #56 closed, assigned to nobody

[2014-02-20 15:24] vshank77 opened #71 "Read fixed value integer as a BigInteger fails"
The following simple test fails -

[code]

This is because in BigIntegerAccept

[code]

It should have been

[code]

Can someone fix this potentially devastating issue? Thanks in advance.

[2014-02-20 18:47] #71 closed, assigned to nobody

[2014-02-26 12:55] oathleo opened #73 "java pack data is different from the data by other msg pack"
[code]

bytes: [92 a7 6d 73 67 70 61 63 6b cb 3f e3 33 33 33 33 33 33  ]

but other msg pack like golang,
the byte:
[82 a4 6e 61 6d 65 a7 6d 73 67 70 61 63 6b a7 76 65 72 73 69 6f 6e cb 3f e3 33 33 33 33 33 33]

The java pack looks like missing the field's message.

[2014-02-27 12:29] #73 closed, assigned to nobody

[2014-03-11 04:24] Leeforrest opened #74 "I don't know how can I get the Child , this is my code below, please help thank you very very much!!!"
package com.dl;
import java.io.IOException;
import org.msgpack.MessagePack;
import org.msgpack.annotation.Message;
@Message
public class Test {
	public static void main(String[] args) {
		Parent p = new Child(2, 3);
		MessagePack pack = new MessagePack();
		pack.register(Parent.class);
		pack.register(Child.class);
		pack.register(Test.class);
		try {
			byte[] value = pack.write(p);
			Parent par

[2014-05-04 03:49] oza opened #77 "v07"

[2014-05-04 03:51] #77 closed, assigned to nobody

[2014-05-13 19:34] xerial opened #89 "Evaluate the performance of writePayload"
Currently MessagePacker uses 512B threshold in writePayload for avoid memory-copy #87. We should evaluate the performance when increasing or decreasing this threshold.

[2014-05-15 02:21] xerial opened #90 "MessageBuffer.slice()"
Current v07-draft branch uses limit() setLimit(...) methods to obtain the written data range. Instead, we should provide `MessageBuffer slice(int offset, int len)` method to make MessageBuffer immutable (except its memory contents).

[2014-05-15 02:25] xerial opened #91 "MessageBufferInput.next()"
Based on the discussion in https://github.com/msgpack/msgpack-java/pull/82#discussion-diff-12501278, we determined the behavior of `MessageBufferInput.next()` as follows:

[2014-05-15 04:54] xerial opened #92 "Supporting event-driven I/O in unpackXXX"
This topic is an excerpt of the discussion in https://github.com/msgpack/msgpack-java/pull/82#discussion_r12501596

In event-driven I/O, we call unpackXXX after we receive new data from a network (or another resource).  That indicates unpackXXX might be called even if insufficient amount of packed data is available.

Because of this, behavior of unpackXXX (e.g., unpackInt, unpackString, etc.)  wou

[2014-05-15 04:56] xerial opened #93 "Preparing extra buffer for packString and unpackString"
https://github.com/msgpack/msgpack-java/pull/82#discussion-diff-12501209 https://github.com/msgpack/msgpack-java/pull/82#discussion-diff-12501711

[2014-05-15 04:58] xerial opened #94 "Using skip length table in MessageUnpacker"
https://github.com/msgpack/msgpack-java/pull/82#discussion_r12501173

[2014-05-15 05:04] xerial opened #95 "Add license headers to the code"

[2014-05-15 05:34] xerial opened #96 "Compilation error for jdk6"
Travis CI shows compilation errors only for jdk1.6:
https://travis-ci.org/msgpack/msgpack-java/builds/25215840

Logs:
https://travis-ci.org/msgpack/msgpack-java/jobs/25215841

It looks like MemoryBuffer uses some methods in Unsafe that exists only in jdk1.7.

[2014-05-15 08:15] #96 closed, assigned to nobody

[2014-05-15 09:05] #90 closed, assigned to nobody

[2014-05-17 08:28] oza opened #97 "[Umbrella]Value support for v07"
This is an umbrella ticket for Value support for v07. I'll plan to change the class name as follows:

* ImmlutableValue -> Value
  * [feature] Creating Value instance for each objects
* MutableValue -> Cursor or Proxy
  *  [feature] Creating Value instance at the initialization time, and reuse it.

[2014-05-17 21:49] kutoman opened #98 "Android-App - Java-Application serialization/deserialization issue."
Hi,
I'm developing a crossplatform game which also supports a mutliplayer mode. For the serialization of the peer messages I'm using msgpack (0.6.11). I've already tested the messaging (with msgpack) successfully for those peers which are based on the same platform (e.g. Android <> Android or Java-Application <> Java-Application).
But when it comes to the combination of the platforms (e.g. Android

[2014-05-21 18:38] ghost opened #99 "Android bug"
HI,

I am trying to use msgpack in Android but the app crashes with the line below:

MessagePack msgPack = new MessagePack()

saying java no class def error

I downloaded the library jar from the link below:
http://mvnrepository.com/artifact/org.msgpack/msgpack/0.6.11

Could u help me with a valid .jar?

[2014-05-22 07:56] #91 closed, assigned to nobody

[2014-05-23 08:04] #99 closed, assigned to nobody

[2014-05-25 02:46] komamitsu opened #101 "MessageBuffer doesn't work on Android OS"
I used MessageBuffer on Android OS(4.0.3) simulator. But these error and exceptions occurred.

[code]

[code]

I think it's not an urgent issue for now. I created this issue just FYI.

[2014-05-29 02:00] xerial opened #103 "Improve unpackBinary performance"
@frsyuki measured the performance of unpackBinary, and it was slower than v06. We should improve them:
https://github.com/msgpack/msgpack-java/pull/100#issuecomment-44484449

[2014-06-02 05:35] xerial opened #105 "MessageUnpacker.readAsReference for zero-copy read of binary data"
To read binary/string data without copying, we need a method that returns a reference to the binary data. In this implementation, we should manage the lifetime of the referenced data.

A possible approach is
- Creating a raw data reference that is a slice of a memory region, that is, a slice of an `MessageBuffer`. When this message buffer is garbage collected, it means that the returned reference

[2014-06-03 04:17] #93 closed, assigned to nobody

[2014-06-03 23:07] ClaymorePT opened #106 "ArrayValueImpl does not implement .add method."
The ArrayValueImpl class is not implementing the .add method which becomes a pain when dynamically adding Value objects to the Array.

Please consider to further extend its implementation.

[2014-06-04 01:29] #103 closed, assigned to nobody

[2014-06-16 09:18] #105 closed, assigned to nobody

[2014-06-24 16:32] dperetti opened #110 "asMapValue() and asArrayValue add extra quotes to keys and string values"
Android, msgpack-java 0.6.11 : asMapValue() and asArrayValue() add extra quotes to keys and string values.

It looks like the issue boils down to this :

    ValueFactory.createRawValue("1234").toString().length()

Result : 6 ! (because of the extra quotes).

[2014-07-11 04:16] xerial opened #112 "MessageUnpacker should advance the internal buffer cursor in skip()"
To simplify the implementation we should not delay the cursor movement within MessageUnpacker. By reading the MessageBufferInput upon skip(), we also can sync the timing of getting IOException and calling MessageUnpacker.unpackXXX methods.

[2014-07-11 04:18] xerial opened #113 "Provide MessagePacker.reset(MessageBufferOutput) and MessageUnpacker.reset(MessageBufferInput)"
In order to reuse the instance of MessagePacker/Unpacker we should have a method to reset the internal state.

[2014-07-11 04:21] xerial opened #114 "Remove MessageUnpacker(InputStream in) constructor"
MessageUnpacker(ByteArrayInputStream in) is slower than MessageUnpacker(ArrayBufferInput) because we need to copy the contents of ByteArrayInputStream into MessageBuffer. But because of the presence of MessageUnpacker(InputStream in) constructor, users tend to use this inefficient implementation.

To disallow such usage, we should remove the constructor that accept InputStream.

[2014-07-11 04:24] xerial opened #115 "Faster String encoding by writing the encoded string directly to the MessageBuffer"
Currently MessagePacker has an internal buffer for encoding strings. This encode buffer can be replaced with the MessageBuffer. With this optimization, we can save the cost of allocating internal encode buffer.

[2014-07-11 04:30] xerial opened #116 "MessagePacker should use byte[] based buffer allocator"
https://github.com/msgpack/msgpack-java/blob/v07-value2/msgpack-core/src/main/java/org/msgpack/core/MessagePacker.java#L86-86

This code should use MessageBuffer.newBuffer instead of MessageBuffer.newDirectBuffer because DirectByteBuffer is an off-heap memory and should be used carefully. For example, the default maximum size of DirectByteBuffer is usually limited to several MBs. It might cause Ou

[2014-07-11 04:40] xerial opened #117 "MessageBufferOutput should have allocateMemory() interface."
When writing a sequence of MessageBuffers to MessageBufferOutput, we have a room to reduce the number of memory allocation by knowing the total size of MessageBuffers. But the current MessagePacker always reuses the pre-allocated MessageBuffer, so we cannot perform such an optimization.

By default, reusing the MessageBuffer as in the current implementation is OK. But we should make the interface

[2014-07-11 04:55] xerial opened #118 "Thread-safe ValueBuffer"
We need thread-safe ValueHolder so that we can safely pass the read value into another function. ValueBuffer is an example of its implementation.
https://github.com/msgpack/msgpack-java/blob/v07-value-sf/msgpack-value/src/main/java/org/msgpack/value/ValueBuffer.java

[2014-07-14 02:18] #116 closed, assigned to nobody

[2014-07-14 05:47] xerial opened #121 "Expose base, address, size and reference fields in MessageBuffer to create io.airlift.Slice"
It would be better to have a method for converting MessageBuffer into an airlift.Slice to avoid memory copy. To do so, base, address, size and reference fields in MessageBuffer should be accessible.

[2014-07-17 15:35] JensRantil opened #122 "Is org.msgpack.MessagePack thread safe?"
Just curious.

[2014-07-21 08:46] Slimu opened #124 "Error deserializing subclassed field"
Hello, I've stumbled upon a problem when trying to deserialize a message. I have a base class A which is extended by class B. I serialize a class C which has one of the fields of type A. But this field is set with the value of a class B variable. At deserialization only the fields from A are populated and if I'm using instanceof to test the class of the field, is of type A not B.

Is there any way

[2014-07-23 04:32] #121 closed, assigned to nobody

[2014-07-23 04:33] #117 closed, assigned to nobody

[2014-07-23 04:34] #115 closed, assigned to nobody

[2014-07-23 05:00] #114 closed, assigned to nobody

[2014-07-23 05:01] #113 closed, assigned to nobody

[2014-07-25 05:41] xerial opened #125 "MessageUnpacker.unpackString should feed the entire string upon CharacterEncodingException"
When malformed UTF-8 is given to the Unpacker, unpackString throws MalformedInputException, and the position of the internal cursor becomes invalid.

We need a method to rescue this situation.

A quick fix is to enable replacement of malformed chars by using MessagePack.Config.

[2014-07-25 10:54] montecillodavid opened #126 "add support in gson please."
im having trouble implementing this to my existing pojos with gson. please

[2014-07-26 06:20] komamitsu opened #127 "0.7.0-M2 is slower than v07-reset branch when invokating MessagePacker#flush() many times"
@xerial I found 0.7.0-M2 is slower than v07-reset branch when invoking MessagePacker#flush() many times.

Seems it's caused by this line.

[code]

I benchmarked with this code:

[code]
- v07-reset branch

[code]
- 0.7.0-M2

[code]
- 0.7.0-M2 (removed invocation of `out.next()` in `MessagePacker#flush`)

[code]

Although I don't know how efficient to allocate a new buffer eager in `MessagePacker#fl

[2014-07-28 16:40] #127 closed, assigned to nobody

[2014-08-03 14:11] komamitsu opened #128 "MessageUnpacker#reset() removes the buffer of ArrayBufferInput passed as an argument"
I tried to use MessageUnpacker#reset()  as follows and found the buffer of ArrayBufferInput was null.
1. Create ArrayBufferInput instance (instance name: `arrayBufferInput`)
2. Create MessageUnpacker with `arrayBufferInput` (instance name: `messageUnpacker`)
3. Use `messageUnpacker` to unpack some records
4. Call `messageUnpacker.close()`
5. Call `arrayBufferInput.reset()` to reuse the instance
6.

[2014-08-13 01:56] cclogg opened #131 "Nested maps and arrays supported?"
Hey I'm just wondering if there is an easy way in the current library to unpack msg-packed bytes into *complete* Java objects (including traversing down a map or array and converting those). Ie with JSON you can have a dictionary inside a dictionary inside an array etc... the iOS msg-pack library supports this through recursion. So far, using the available docs, the furthest I've gotten is having

[2014-08-13 11:28] lukasz-fracz opened #132 "Why is org.msgpack.MessageTypeException an RuntimeException?"
Hi
I am using MessagePack in my application, and today it crashed for no reason. As I started to investige what's going on, I quickly realized it was an  uncaught exception - MessageTypeException. So, my question is: why is it an RuntimeException?

[2014-08-14 02:14] yilo opened #133 "msgpack.read(inputs) doesn't go into subclass of AbstractTemplate<DateTime>"
I extends the AbstractTemplate for serialize / deserialze Joda Datetime type. the class is MsgpackDateTimeSerializerTemplate

I registered the DateTime class in static constructor
public final static MessagePack msgpack = new MessagePack();

static {
    msgpack.register(DateTime.class, MsgpackDateTimeSerializerTemplate.instance);
}

when I call msgpack.write(obj); the obj here has a field that ty

[2014-08-16 04:55] seveniu opened #134 "Use reflection for generic"
Sorry,My English is not good.

I write a class for serialization Collection like this : List<Player>.
I have the test. but I'm not sure that it's a good implementationit ,so I post here.
thanks

[code]

eg:
List<Player> playerList = new ArrayList()
msgpack.write(players);
msgpack.read(bytes, new AbstractListTemplate<Player>() {});

[2014-08-16 22:43] SurealCereal opened #135 "Working with enums"
I tried using the @Message annotation with an enum but ended up with a crazy runtime error.  Is there a built in mechanism for working with them?

[2014-08-17 11:04] #128 closed, assigned to xerial

[2014-08-18 13:34] BitsOfCloud opened #136 "Cross-platform Objects"
Serialization works wonders in Java using @Message however the resulting MsgPack data is problematic in other languages - we end up getting field values without field names.  It would be really useful to get a *map* (similar to JSON) so that we can see class names & field names.

Something like this:
[code]

[2014-09-09 18:09] 6a209 opened #137 "ReflectionTemplateBuilder class"
why below code has a   unpacker.readArrayBegin() in lines 135 ? when it json {} the code is start 0x81

but readArrayBegin()  will throw a Exception  org.msgpack.MessageTypeException: Expected array, but got map value

[code]

[2014-09-27 13:46] Kilobyte22 opened #138 "Can i bypass the serialization part?"
I'd like full control about how my data is stored and therefore do not want to use serialization. Instead i would like to use something like:

[code]

Is that possible? And if so, how

[2014-10-15 22:23] jameswm opened #141 "Interop issues between msgpack-java (0.6.8 and 0.6.11 tested) and msgpack-cli (0.5.5 and 0.4.1 tested)"
I have yet to find a way to serialize anything other than trivial object graphs from msgpack-java and have them successfully deserialize using msgpack-cli.  I have tried all combinations of msgpack-java 0.6.8 and 0.6.11 and msgpack-cli 0.4.1 and 0.5.5.  Obviously, it doesn't work in the other direction either, from csharp to java.

Here are two java classes that successfully interop (note that the

[2014-10-31 06:57] xerial opened #143 "msgpack-java v07 test stalls with oraclejdk8"
Here is the log of the test failure:
https://travis-ci.org/msgpack/msgpack-java/jobs/39570171

[2014-10-31 11:22] #143 closed, assigned to nobody

[2014-11-06 20:37] dokipen opened #144 "Field names with illegal variable names"
Is it possible to make a template class for deserialization with a fieldname that isn't a valid variable name? I'm trying to parse msgpacks with hyphenated field names. I'll gladly parse to a Map instead, but I don't see any examples of generically parsing a nested map structure. BTW, my object looks like this:

[code]

Everything is either a String, Int or Map of String => String. The msgpack was

[2014-11-09 16:33] komamitsu opened #145 "Moving jackson-dataformat-msgpack to this repository"
I'm moving https://github.com/komamitsu/jackson-dataformat-msgpack to this repository in https://github.com/msgpack/msgpack-java/tree/v07-add-jackson-dataformat branch. I copied the original repository to `msgpack-jackson` directory and modified `project/Build.scala` so that we can build and test `msgpack-jackson`.

TODO:
1. I think we need to update README.md so that it contains information about

[2014-11-09 18:02] oza opened #147 "Releasing msgpack v0.7"
After solving #145 and #109, it's good time to release v0.7.

[2014-11-11 00:59] oza opened #148 "Updating getting started and tutorial page after releasing v0.7"
#147 #109 are related.

[2014-11-11 02:13] benjamin-bader opened #149 "Exception unpacking list of maps with `MessageUnpacker#unpackValue"
Seems like there is an issue in `v0.7-develop` with unpacking lists of maps.  I've verified that the packed bytes unpack properly both in Python 3.4 and, notably, msgpack-java 0.6.11; this looks like a regression.  Also notably, packing works as expected; packing in Java and unpacking in Python is fine.  Unpacking "manually", using e.g. `#unpackArrayHeader` and `#unpackMapHeader` also works.

Give

[2014-11-12 05:41] #149 closed, assigned to nobody

[2014-11-13 08:27] #145 closed, assigned to nobody

[2014-12-01 07:32] xuwei-k opened #154 "NullPointerException when pack array string Value"
[code]

[code]

[2014-12-08 04:23] #154 closed, assigned to nobody

[2014-12-13 06:39] xuwei-k opened #157 "Strange behavior of RawStringValueImpl"
see https://github.com/xuwei-k/msgpack-java/commit/fb05e1643e0dd6

[code]

result

[code]

[2014-12-14 07:09] #157 closed, assigned to nobody

[2014-12-14 08:39] xuwei-k opened #159 "RawStringValueImpl#equals is wrong?"
https://github.com/xuwei-k/msgpack-java/commit/6cbc67494ad239a539e31f

[2014-12-15 08:16] shavy opened #160 "unsafe.copyMemory call error"
I have a project running with JDK1.6 and msgpack v0.6.0,when I try to update to msgpack v0.7,it gaves me errors like:

The method copyMemory(long, long, long) in the type Unsafe is not applicable for the arguments (byte[], int, Object, long, int)	MessageBuffer.java

I google it and found it may cause by the copyMemory function with 5 params is  available on JDK 1.7 only(not sure) .If so,how can I

[2014-12-15 17:27] #144 closed, assigned to nobody

[2014-12-15 21:48] petropolis opened #161 "Example of packing arbitrary object in 0.7?"
How do you map an arbitrary object in 0.7? Before in 0.6 I used to use the register calls but apparently we shouldn't do that anymore. I have a class I want to serialize in MessagePack 0.7-M5. I notice that there is an Extended Type now. Do we just use Java serialization/deserialization using the extended type? If so, why is this faster than version 0.6 which didn't store the type (you used tList(

[2014-12-20 08:30] #98 closed, assigned to nobody

[2014-12-20 08:39] #161 closed, assigned to nobody

[2014-12-20 08:39] #138 closed, assigned to nobody

[2014-12-20 08:41] #137 closed, assigned to nobody

[2014-12-20 08:42] #135 closed, assigned to nobody

[2014-12-21 03:49] GutasCo opened #162 "HI,V0.7 is too slower than V0.6,Why?Why?"
hi,I just did a simple testing
for (int i = 0; i < 50*10000; i++) {
                         ByteArrayOutputStream out = new ByteArrayOutputStream();
			MessagePacker packer = MessagePack.newDefaultPacker(out);
			packer.packInt(1000);
			packer.packFloat(1000);
			packer.packByte((byte) 10);
			packer.packDouble(1000);
			packer.packInt(1000);
			packer.packFloat(1000);
			packer.packByte((byte)

[2014-12-24 05:19] xuwei-k opened #164 "StringValueImpl and RawStringValueImpl does not satisfy equals/hashCode laws"
version 0.7.0-p2

[code]

`a1.hashCode` should be same as `a2.hashCode` if `a1.equals(a2)`

[2014-12-24 06:09] xuwei-k opened #165 "MapValue#equals too slow"
version 0.7.0-p2

[code]

result

[code]

[2014-12-26 13:20] FransBosuil opened #167 "Unable to unpack data using JSON() when packed by other message pack"
Using version 0.6.11, it is not possible to unpack data (packed by e.g. MessagePack) using the JSON message pack. Would it be possible to indicate how this issue can be resolved?

As MessagePack is like JSON, I would expect that all msgpack'ed data would be unpackable by the JSON unpacker. Would it be possible to indicate if my assumption is correct?

Possible related issue https://github.com/msgp

[2015-01-03 11:38] komamitsu commented on #164
@xuwei-k Thanks for reporting!

@xerial I added some changes to fix this issue on https://github.com/msgpack/msgpack-java/pull/168. Can you review this PR when you have time?

[2015-01-05 03:46] xerial commented on #162
Thanks! Now close this ticket.

[2015-01-05 03:46] #162 closed

[2015-01-05 10:19] FransBosuil commented on #167
Hi @komamitsu, thank you for the swift response. Updating to v0.7 is planned for the near future.But, I guess, it will not solve my issue.

Related to the issue, when using a Javascript implementation, the MessagePack'ed data is unpacked in a valid Javascript object, which (if I'm not mistaken) is like a JSON object. So, I assumed the JSON unpacker would do the same. The example below reflects mor

[2015-01-06 01:37] #164 closed

[2015-01-12 14:32] komamitsu opened #173 "Reconsider calling close() of the previous assigned stream or channel in MessageBuffer(Input|Output)#reset"
In https://github.com/msgpack/msgpack-java/pull/169 and https://github.com/msgpack/msgpack-java/pull/170, we made some changes to call a previously assigned stream or channel instead of a new one passed as a parameter.

But I found https://github.com/spring-projects/spring-framework does the followings when it returns a HTTP request with jackson-dataformat-msgpack.
- Reuses an OutputStream (`org.a

[2015-01-13 00:35] xerial commented on #173
OK. Delegate the responsibility of closing the previous stream and channel to the caller of `reset` methods. I think changing the return value of `reset` to OutputStream (or OutputChannel) and never closing it inside `reset` method are sufficient.

[2015-01-14 14:01] timnew commented on #101
Is there any update about this issue? I encounters exactly same issue.

[2015-01-15 04:18] axeon opened #174 "0.7-P2 MessageBuffer doesn't work on Android 4.3"
I used MessageBuffer on Android OS(4.3) . But these error and exceptions occurred.
It's  an urgent issue for now,Please fix it, thanks!

Could not find class 'sun.nio.ch.DirectBuffer', referenced from method org.msgpack.core.buffer.MessageBuffer.<init>
Could not find class 'sun.nio.ch.DirectBuffer', referenced from method org.msgpack.core.buffer.MessageBuffer.releaseBuffer
Could not find class 'su

[2015-01-15 04:21] xuwei-k commented on #174
duplicate? https://github.com/msgpack/msgpack-java/issues/101

[2015-01-15 04:25] axeon commented on #174
maybe duplicated.
but the same issue was post on 25 May 2014, haven't resolved until now.
android is important platform for msgpack, so this issue is very very urgent!

[2015-01-15 04:48] xerial commented on #174
OK.
I'll try to resolve this.

[2015-01-15 04:49] axeon commented on #174
@xerial
Thank you! I will cooperate with you to test it on android.

[2015-01-15 09:15] xerial commented on #174
Duplicate of #101

[2015-01-15 09:15] #174 closed

[2015-01-15 09:16] xerial commented on #101
I'll add MessageBufferU(niversal) class, which does not depend on Unsafe and DirectByteBuffer classes.

[2015-01-15 18:53] komamitsu commented on #173
`MessagePacker` and `MessageUnpacker` have `reset()` method too that calls `MessageBuffer(Input|Output)#reset` internally. If we decide to make `MessageBuffer(Input|Output)#reset` return the previously assigned `(Input|Output)` Stream or Channel, `Message(Packer|Unpacker)#reset` should return it as well. But it needs more implementation. So I just removed the closing of the old `(Input|Output)` St

[2015-01-16 04:14] komamitsu commented on #173
Ah, I had a wrong idea. This is false. > MessagePacker and MessageUnpacker have reset() method too that calls MessageBuffer(Input|Output)#reset internally

I made reset() return the old resource and pushed it again.

[2015-01-16 08:01] xerial commented on #173
gj! thanks.

[2015-01-16 08:01] #173 closed

[2015-01-16 09:47] xuwei-k opened #176 "remove or fix settings sbt-release plugin"
maybe currently does not using sbt-release plugin.

[2015-01-16 10:48] #176 closed

[2015-01-17 08:48] making opened #178 "java.lang.UnsupportedOperationException in MessagePackParser#getTokenLocation is confusing"
I'm using jackson-data-bind 2.4.4 and jackson-dataformat-msgpack 0.7.0-p3

`UnsupportedOperationException` is thrown when no suitable constructor is found in deserializing an object.

in `com.fasterxml.jackson.databind.deser.BeanDeserializerBase.deserializeFromObjectUsingNonDefault(BeanDeserializerBase.java:1071)`

[code]
`JsonMappingException#from` is called
and in `com.fasterxml.jackson.databind

[2015-01-17 09:58] komamitsu commented on #178
@making Thanks for reporting! Let me check it.

[2015-01-19 01:10] #160 closed

[2015-01-19 04:33] axeon commented on #101
@xerial
Thanks for your work on android support.
<code>
            String bufferClsName;
            if(isJavaAtLeast7) {
                if(isLittleEndian)
                    bufferClsName = "org.msgpack.core.buffer.MessageBuffer";
                else
                    bufferClsName = "org.msgpack.core.buffer.MessageBufferBE";
            }
            else {
                bufferClsName =

[2015-01-19 04:38] xerial commented on #101
@axeon
The above switch is necessary for avoiding generation of TypeProfile for MessageBuffer methods, which is a key to achieve good performance other than Android.

Is there any option in proguard to force include MessageBufferU class?

[2015-01-19 04:40] xerial commented on #101
For example, I found
http://stackoverflow.com/questions/7464035/how-to-tell-proguard-to-keep-everything

[2015-01-19 05:36] axeon commented on #101
@xerial
the new version is ok on android, but logcat print too many exception such as "can't find class sun.nio.ch.DirectBuffer/sun.misc,Unsafe".
on andorid platform ,the java.specification.version is 0.9.

I think we can add MessageBufferFactory or other class to switch MessageBuffer class, it will disable class not found exception .

In addition ,these code is tested in android .

           Cla

[2015-01-19 07:43] xerial commented on #101
@axeon
Our design decision is that we never create any interface for MassageBuffer class, because interface adds overhead to every method call due to invokeinterface call and TypeProfile generation. Speed is the most important factor in designing msgpack v07.

Even if we create a factory class, it still needs to load MessageBuffer class (since it is a base class) and will show the warning messages

[2015-01-19 07:48] xuwei-k opened #181 "tag 0.7.0-p3 missing"

[2015-01-19 07:54] xerial commented on #181
pushed.

[2015-01-19 07:54] #181 closed

[2015-01-19 07:55] axeon commented on #101
@xerial
Thanks for your works.
Maybe we can use MessageBufferU as base class, when detected optimized conditions is ok, then switch to MessageBufferOpt(MessageBuffer now).
This solution will be balanced performance and aesthetic design .

[2015-01-19 08:10] xerial commented on #101
@axeon
FYI. If JVM finds two or more classes that defines a method, it will generate TypeProfile. Simply writing `import MessageBufferU` in a code results in generation of TypeProfile and ends up slowing down method calls of MessageBuffer.

So we cannot make `MessageBufferU.getByte` a base class of `MessageBuffer.getByte`.

For reducing warning message, we should create a different ticket and mayb

[2015-01-19 08:10] #101 closed

[2015-01-19 18:16] komamitsu commented on #178
This issue was fixed in https://github.com/msgpack/msgpack-java/pull/182.

[2015-01-19 18:16] #178 closed

[2015-01-20 00:53] xerial commented on #53
Now `sbt release` (publishSigned, git tag) and `sbt sonatypeRelease` do the work.

Close this ticket.

[2015-01-20 00:53] #53 closed

[2015-01-20 11:49] komamitsu commented on #167
@FransBosuil Actually, users can use MessagePack like JSON in term of schema less, but the serialized data are completely different. JSON is a text format, while MessagePack is a binary format. So MessagePacked data can't be unpacked in JSON. The opposite is true.

[code]
^ This `bytes` is packed in MessagePack format, so you can't unpack it with org.msgpack.JSON.

[2015-01-21 06:51] shavy commented on #160
Thanks for the workaround ,cause sometims the old project is too difficult to update a new JVM version

[2015-01-25 22:14] FransBosuil commented on #167
Hi @komamitsu, thank you for the swift response. I think I'm starting to understand the issue. Please correct me if I'm wrong.

- The JSON class packs a java object in a text string and unpacks a text string in a java object.
- The MessagePack class packs a java object into a byte array and unpacks the byte array in a java object.

My (wrong) assumption was that the JSON class packed a JSON java o

[2015-01-26 00:39] xuwei-k commented on #159
fixed via https://github.com/msgpack/msgpack-java/commit/e4e9e344ec4610723cf16e22619ace0ec2e23c73

[2015-01-26 00:39] #159 closed

[2015-01-26 10:56] xuwei-k opened #183 "BinaryValueImpl#equals and hashCode are wrong"
https://github.com/xuwei-k/msgpack-java/commit/5c53ba7c73203f386854f2c26bbbea59f9fd282c

[code]

[code]

[2015-01-27 15:24] rasky commented on #73
Hello, we have the same problem; we need to serialize and deserialize msgpack data in a fixed format that we cannot control, and that format serializes objects as maps (not array). Would it be possible to add support for that?

[2015-01-28 06:38] vasumahesh1 commented on #51
Hey,

I am trying to implement this , but without the couchbase Implementation .. but I am having problems encoding decoding cross platform .. whereas if i try to Decode/Encode within the same platform (Java & PHP) the conversions are working perfectly...

For eg:
in PHP i am compressing

`$data = array('id' => 1 , 'name' => 'yolo');`
using msgpack_pack();

and the output is:
`��id�name�yolo`

an

[2015-01-28 09:02] vasumahesh1 commented on #51
I have an update on the situation :

So Basically I tried to debug the Java End and found out that

[code]

so Temp class had `id,name`
so the Error was "Expected Array but was Map Value" because my PHP Array was :

[code]
Indeed a Map Value.

and on the PHP's Side  if I change the `$data` to:

[code]

It works like a charm then.

Now my question is how to make the Temp.class accept a MAP Value wh

[2015-01-28 12:13] axeon opened #184 "Suggest to add packer/unpacker methods like packerByteArray/unpackByteArray"
Suggest to add packer/unpacker methods like packerByteArray/unpackByteArray.
When i pack byte[] data, must be use packArrayHeader and a loop invoke packByte.
If add packerByteArray method, the msgpack-java will use System.arrayCopy to improve performance.

thank you!

[2015-01-28 13:22] xerial commented on #184
Use packBinary(len) and writePayload instead:
https://github.com/msgpack/msgpack-java/blob/v07-develop/msgpack-core/src/main/java/org/msgpack/core/example/MessagePackExample.java#L123-L126

[2015-01-29 01:53] superfell opened #188 "MessageBuffer.wrap(ByteBuffer) is broken"
the MessageBuffer constructor that takes a ByteBuffer behaves wrongly if the supplied byte buffer only occupies a subset of the backing array, it ignores the bytebuffer subset, and just looks at the entire backing array. e.g. this test demonstrates the problem

  @Test
  public void testWrappedByteBuffer() {
    byte [] d = {10,11,12,13,14,15,16,17,18,19};
    ByteBuffer subset = ByteBuffer.wrap(d

[2015-01-29 14:08] komamitsu commented on #167
@FransBosuil Your understanding on the difference of them is correct.

Let me clarify some points.

- You mean `org.msgpack.util.json.JSON` by `JSON java objects'?
- What's your actual trouble? You just need to convert a JSON format string to MessagePack byte array, or the reverse?

[2015-01-29 14:13] #131 closed

[2015-01-29 15:18] komamitsu commented on #51
@vasumahesh1 Hm, your questions isn't related to this issue...

BTW, if you're using MessagePack v06, you need to write Template class like this:
[code]

But you can convert it easier using jackson-dataformat-msgpack if you use MessagePack v07. https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson

[code]

[2015-01-29 15:24] komamitsu commented on #73
@rasky Would this comment help you? https://github.com/msgpack/msgpack-java/issues/51#issuecomment-72041566

[2015-01-29 21:51] FransBosuil commented on #167
- No, more something like 'http://www.json.org/javadoc/org/json/JSONObject.html'.
- I have a complex model structure. I have a JSON and MsgPack encoder which encode the model into a JSON and a MsgPack file. Now, I want to be sure that both files contain the same data. So, I was trying to decode both files as JSON objects which I could compare. I thought the JSON message pack would help me with thi

[2015-01-30 05:48] vasumahesh1 commented on #51
Hi,

Thanks for a reply...

But as I said above , if i have 100+ arguments I can't be doing something like

[code]
mapping 100 variables like this can be madness .... :/

[2015-01-30 09:46] hangsucho commented on #4
[code]

[2015-01-30 12:50] LupoBianco opened #189 "java.lang.ExceptionInInitializerError on Android OS 4.0"
Hi. When I try to use msgpack 0.7x on android application i get this error caused by java.lang.NoSuchMethodException in MessageBuffer.java
Reading the code I see "sun.misc.unsafe" library is missing and I think it's the cause of NoSuchMethodException.
How do I resolve this issue?

full stacktrace:
[code]

[2015-01-30 19:28] xerial commented on #189
Messages related to sun.misc.Unsafe are just warnings.

The true cause of this error is it cannot find the constructor of java.nio.DirectByteBuffer: https://android.googlesource.com/platform/libcore/+/master/luni/src/main/java/java/nio/DirectByteBuffer.java

[2015-01-30 19:37] xerial commented on #189
https://android.googlesource.com/platform/libcore/+/c375a9cfd6ca0f557a4343a14f6c4115a1f20207
If you can use Android 4.3 or later, this error will not happen.

@komamitsu
Do you think we need to support Android 4.0?

[2015-01-30 19:43] xerial commented on #188
If you need to add an offset to the internal buffer, use MessageBuffer.slice.   MessageBuffer.wrap is used  for wrapping buffer types (e.g., byte[], ByteBuffer) with MessageBuffer.

[2015-01-31 02:14] komamitsu commented on #189
According to https://developer.android.com/about/dashboards/index.html, the total share less than Android 4.3 is about 55%. So we'd better support them, I think.

[2015-01-31 02:37] komamitsu commented on #167
You can unpack JSON and MessagePack format files and compare those unpacked Java objects like this:
[code]

[2015-01-31 02:54] komamitsu commented on #132
Sorry for my late reply. Did you check the status code of the HTTP response? In that case, your HTTP client can detect HTTP server is unavailable with checking the status code and it should handle the error without unpacking the response.

[2015-01-31 08:20] komamitsu commented on #183
Hmm. `org.msgpack.value.impl.RawValueImpl#writeTo` should restore the original position of the source buffer after calling `org.msgpack.core.MessagePacker#writePayload(java.nio.ByteBuffer)`? @xerial

[code]

[2015-01-31 13:14] komamitsu commented on #189
@xerial Can you review this PR? https://github.com/msgpack/msgpack-java/pull/190
It works on Android 4.0.4 but still fails on 2.3.3. The share of v2.3.3 is only 7.8%, so maybe we can decide not to support the version.

[2015-01-31 14:54] FransBosuil commented on #167
Indeed, this is already one of the tests. But, depending on the registered packers, it could be that the two files are still not consistent. This would be an issue if one would use the data in e.g. JavaScript. The json.parse and msgpack.unpack results should be similar.

Now, for example, the keys are not stored in my msgpack format, the values are stored in an array. This means that the javascrip

[2015-01-31 19:57] LupoBianco commented on #189
Hooray! works like a charm on android 4.0

Here un example test:

[code]

[2015-02-01 14:55] #189 closed

[2015-02-02 05:47] xerial commented on #183
BinaryValue object should not move the internal ByteBuffer's position and limit values. I'll work on this fix on v07-value branch

[2015-02-02 07:43] lukasz-fracz commented on #132
No, I did not.
You're right, that should handle it.

[2015-02-04 01:13] xerial commented on #188
Fixed. Thanks for reporting the bug!

[2015-02-04 01:13] #188 closed

[2015-02-04 12:04] #184 closed

[2015-02-05 20:36] FransBosuil commented on #167
@komamitsu Thank you for the support. MessagePack v0.7 allows me to implement the required test. An example...

        // Create the msgpack-ed data
        ByteArrayOutputStream os = new ByteArrayOutputStream();
        MessagePacker packer = MessagePack.newDefaultPacker(os);
        packer.packMapHeader(2);
        packer.packString("compact");
        packer.packBoolean(true);
        packer.p

[2015-02-06 01:22] xerial opened #194 "Supporting platform that has no sun.misc.Unsafe"
We have got an report that the current msgpack-core doesn't work in GAE. MessageBuffer implementation is designed to achieve the best performance for accessing memory through sun.misc.Unsafe. But Unsafe is not avilable in GAE.

 - Loading sun.misc.Unsafe might fail in GAE.
  - Simply referencing it in the code (in import statement or field declaration) may have no problem; @xuwei-k reported the er

[2015-02-10 18:45] xerial commented on #194
I'm working on this task on https://github.com/xerial/msgpack-java/tree/v07-no-unsafe branch.

I have succeeded in using MessageBufferU, which does not rely on Unsafe class. Another problem is there is no java.nio.DirectByteBufffer in GAE. I'm seeking a workaround.

[2015-02-16 02:37] xerial commented on #194
Just deployed 0.7.0-p7, which supports GAE.

[2015-02-16 02:37] #194 closed

[2015-02-16 13:30] oza commented on #194
Good job!

[2015-03-13 03:35] kutchar opened #204 "Support for BigDecimal in Jackson Data Format"
Currently there is no support to read/write java BigDecimals. This can be done in two ways:

1. Encode BigDecimal to String (accurate (math-wise), not portable to other langs, inefficient)

2. Encode to Integer or Float depending on the value and warn in case of overflow/underflow (not accurate (math-wise), portable to other langs, efficient)

I prefer option 2, since that's already what MessagePa

[2015-03-13 06:30] kutchar opened #206 "MessagePackParser doesn't follow the JsonParser contract for nextToken"
Based on the javadoc of `com.fasterxml.jackson.core.JsonParser.nextToken()`

[code]

`nextToken` should return `null` if stream has no more content, but currently it throws an `EOFException`.

[2015-03-13 15:07] a-zen opened #208 "Serialize an object inside another object"
Hi,

I have something like the following setup:

[code]

I then tried to serialize this:

[code]

Which gives me a rather complex and long error.

Is this supported at all?
Do I have to make some changes?

--
regards
  alex

[2015-03-13 18:10] oza opened #209 "packString with a string which is larger than 8192 bytes fails to unpack data"
Following test fails:
[code]

[code]

If stringLength is 8192, the test passes.

[2015-03-14 07:05] #206 closed

[2015-03-14 07:08] #204 closed

[2015-03-14 09:03] slandelle opened #210 "Make MessageBufferU constructor public"
Some APIs, such as Akka's ByteString, only provide read-only ByteBuffers. It would be great to make MessageBufferU constructor public instead of package private so I can easily write a custom MessageInput in my own package.

Regards

[2015-03-16 01:56] xerial commented on #210
Using `MessageBuffer.newBuffer` or `wrap` is not sufficient?

[2015-03-16 08:17] slandelle commented on #210
@xerial No, I don't think so. Correct me if I'm wrong, but MessageBuffer seems to be deciding on the MessageBuffer implementation [in a static way](https://github.com/msgpack/msgpack-java/blob/v07-develop/msgpack-core/src/main/java/org/msgpack/core/buffer/MessageBuffer.java#L208), based on what's available (JDK version, Unsafe, etc).

I am running on Hotspot JDK7/8, so regular `MessageBuffer` impl

[2015-03-16 09:05] slandelle commented on #210
Actually, shouldn't newBuffer check if the ByteBuffer is readonly and then use the universal implementation?

[2015-03-16 09:50] xerial commented on #210
Using two or more types of MessageBuffer slows down each method call due to TypeProfile genaration in JVM. So I favor to support Akka's read-only buffer in MessageBuffer.

[2015-03-16 10:29] slandelle commented on #210
You mean JIT not being able to optimize dispatch?

[2015-03-17 01:00] xerial commented on #210
Right. ByteBuffer based memory access goes through TypeProfile, which manages access counts of DirectByteBuffer and HeapByteBuffer methods. HeapByteBuffer, which is the default implementation of ByteBuffer, is used frequently inside Java. Even if DirectByteBuffer is mostly used inside MessageBuffer, due to frequent HeapByteBuffer usage, JIT compiler optimization cannot create any short cut to acce

[2015-03-17 10:02] slandelle commented on #210
Thanks for the explanation, very interesting!

Will send a PR ASAP. Actually, it's not a real blocker for me, I just created a factory in msgpack's package. It's just not very clean.

[2015-03-17 10:59] slandelle commented on #210
PR provided, cf #212

[2015-03-18 15:09] #210 closed

[2015-04-01 09:53] ArcsinX opened #213 "str8 with length > 127 leads to Bad limit exception, v0.6.11"
Problem is in the following code of MessagePackUnpacker.java
[code]
byte is a signed type!
If string length > 127, then count will be negative number, so tryReferRawBody will be called with second parameter as negative number.
[code]
Thus we will get java.lang.IllegalArgumentException: Bad limit (capacity 1024): -65 expection

[2015-04-02 04:23] ChaosLeong opened #214 "Different serialized results in different devices(Nexus 5 , Moto X)"
I test the serialization in my Nexus 5 and Moto X. However,I found it have different results.
Is it a bug ?

不同设备序列化结果不一样（测试设备：Nexus5、MotoX）

[2015-04-04 16:12] komamitsu commented on #208
Sorry for my late reply. @a-zen Can you try add a default constructor to class `PhoneNumber`?

[2015-04-04 16:32] komamitsu commented on #214
@ChaosLeong Can you some examples of this issue?

[2015-04-04 19:00] #209 closed

[2015-04-07 07:06] a-zen commented on #208
No Problem. Did you mean so:

[code]

Unfortunately this didn't change much. I copied the error message.
You can find it [here]
(https://gist.github.com/a-zen/e7b06e1f4af6a5700737) .

--
regards
  alex

[2015-04-08 01:45] oza commented on #209
@xerial @komamitsu thanks for your fix!

[2015-04-10 07:07] ChaosLeong commented on #214
Envelope.java
[code]
Example code:
[code]

bytes in Moto X:
![image](https://cloud.githubusercontent.com/assets/6824996/7083341/15ac27ea-df93-11e4-873c-e1e3c992f90b.png)

bytes in Nexus 5:
![image](https://cloud.githubusercontent.com/assets/6824996/7083330/ed42e92e-df92-11e4-944a-579c0a70b35d.png)

[2015-04-17 09:41] RoSkin commented on #214
How can I pack jAVA Object in V7?

[2015-04-27 01:25] fdinoff opened #217 "InputStream from Socket throws NullPointerException for Unpacker"
Version: 0.7.0-p8

I'm trying to create an unpacker from a socket's input stream. It currently throws a NullPointerException

    MessagePack msgPack = new MessagePack();
    Socket socket = new Socket("127.0.0.1", 6666);
    msgPack.newUnpacker(socket.getInputStream());

Stack Trace

    Exception in thread "main" java.lang.NullPointerException: input channel is null
    	at org.msgpack.core.Prec

[2015-04-27 01:37] xerial commented on #217
Thanks for the report. I'll add a fix when getChannel() is null.

[2015-04-27 02:59] #217 closed

[2015-04-27 03:29] xerial commented on #217
Try 0.7.0-p9, which will be available in a few hours.

[2015-04-27 18:26] fdinoff opened #222 "InputStreamBufferInput.next() hangs with a blocking InputStream."
Version: 0.7.0-p9

I'm trying to unpack a message that is stored in a socket. An example is shown below so that you can easily replicate this.

[code]

The output is

    Socket Open with 14

Currently `hasNext()` hangs since `InputStreamBufferInput.next()` tries to read from the InputStream looking for an EOF or fill its internal buffer which appears to default to 8192. However it will not do eit

[2015-04-30 05:20] fdinoff opened #223 "MapValueImpl does not implement getMapCursor"
MapValueImpl does not override the getMapCursor function and throws saying it is not a map

    ValueRef value = MapValueImpl.empty();
    System.out.println(value.getValueType());
    value.getMapCursor(); // throws...

Output

    MAP
    Exception in thread "main" org.msgpack.core.MessageTypeException: This value is not a map type

[2015-05-03 08:31] komamitsu commented on #208
Oh, in the second code, you use `PhoneType type` not `int type`? Is `PhoneType` a enum? If so, you need to write a serializer/deserializer for it manually like this.

[code]

Also, you can handle that case easier with `jackson-dataformat-msgpack` in msgpack-v07.

[2015-05-03 08:39] komamitsu commented on #167
@FransBosuil I'm closing this issue. Please reopen it if you still have a problem.

[2015-05-03 08:39] #167 closed

[2015-05-03 11:20] komamitsu commented on #110
Sorry for too late reply. That seems the specification of `org.msgpack.type.AbstractRawValue#toString()`. Not a bug.

[2015-05-03 11:30] komamitsu commented on #41
@mikolak-net @QuickUnit We added https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson and it would solve this sort of problem.

[2015-05-03 11:36] komamitsu commented on #19
@ghetolay Very sorry for late reply. We added https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson that can be used via jackson-databind and it would resolve this kind of issue.

[2015-05-03 11:38] komamitsu commented on #57
https://github.com/msgpack/msgpack-java/pull/58 was already merged.

[2015-05-03 11:38] #57 closed

[2015-05-03 11:46] komamitsu commented on #61
@verandar Really sorry for late reply. org.msgpack.util.json.JSONPacker still has some problems but we're concentrating on msgpack-v07. So we don't recommend JSONPacker in v0.6.x.

In v0.7.x, we added https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson. With the library, you can convert Java objects from/to MessagePack or JSON format in the same way.

[2015-05-03 11:57] komamitsu commented on #74
@Leeforrest Sorry for late reply. The caller of MessagePack needs to pass information to MessagePack about which class  the caller wants MessagePack to handle the serialized data as since MessagePack doesn't know it.

[2015-05-03 12:26] komamitsu commented on #133
@yilo Really sorry for late reply. You can get an expected value using `org.msgpack.MessagePack#read(byte[], java.lang.Class<T>)`.

For the second question, how about pack/unpacking its TimeZone like this?
[code]

[2015-05-03 12:55] komamitsu commented on #134
@seveniu Sorry for late reply. Unfortunately, I ran into this error. `Exception in thread "main" java.lang.ClassCastException: java.lang.Class cannot be cast to java.lang.reflect.ParameterizedType` at this line.
[code]

BTW, we added https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson in v0.7.x. With the library you can handle such a collection easily.

[2015-05-03 12:55] #136 closed

[2015-05-03 13:08] #132 closed

[2015-05-03 13:14] komamitsu commented on #126
@montecillodavid Sorry for late reply. Do you still have the trouble now? If so, can you tell us the details? I'm not sure why you wanted MessagePack to support GSON format.

[2015-05-03 15:18] komamitsu commented on #141
@jameswm Sorry for late reply. The root cause seems that MessagePack earlier than v0.7.x serializes a bean as an array in MessagePack format https://github.com/msgpack/msgpack-java/blob/master/src/main/java/org/msgpack/template/builder/ReflectionTemplateBuilder.java#L99-L116.
According to the error message that occurred in csharp, msgpack-cli looks to handle a bean (an object in csharp) as a seque

[2015-05-03 16:43] komamitsu commented on #124
@Slimu Sorry for late reply. In that case, you need to write a custom template class that extends AbstractTemplate<A> and switches the way of serialization/deserialization in `writeTo()` and `readFrom()` methods depending on which class a target object is A or B.

BTW, you can deal with this sort of issues easily using https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson in v0.

[2015-05-04 11:58] Slimu commented on #124
@komamitsu Thank you for your response! Since when I posted the issue I fixed the problem in the following way:
For class C, I've written custom writeTo() and readFrom() methods. When serializing an A/B object, I write the canonical name of the class after which I write the object (or null instead if the object is null). During deserialization, I check for the className String, and if I have it, I

[2015-05-04 11:58] #124 closed

[2015-05-04 13:04] Anand-J-Kadhi opened #226 "Compilation error while serializing the object"
Hello,

I am trying to serialize an object but i recieved the following exception :

[code]
and the class is like :

[code]

and when i use the default constructor it works fine, but the problem is there is a final field for which i can't change the final modifier(therefore i cant use the default constructor), is there any solution over this ?

[2015-05-04 14:45] komamitsu commented on #226
In msgpack-java v0.6.x, MessagePack can't serialize/deserialize an object that its class doesn't have default constructor unfortunately.

BTW, we added https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson in msgpack-java v0.7. With the library, you can handle the above issue easily like this.

[code]

[2015-05-04 15:07] Anand-J-Kadhi commented on #226
Making changes would be a lot bigger in this stage for me. Anyways, i will try with msgpack-java v0.7.
Thanks a lot for your help and the product.

[2015-05-05 14:32] ghetolay commented on #19
Well I'm not working on my [library](https://github.com/ghetolay/jwamp) anymore but I'll probably work with msgpack on something else so I'll look into it. Thks.

[2015-05-05 14:32] #19 closed

[2015-05-05 16:37] #223 closed

[2015-05-10 08:12] behrad opened #227 "Decoding json"
I'm using msgpack javascript client to pack a json object:
[code]

looking issues I couldn't find a proper way to unpack them with msgpack-java (version 0.6.11 from maven) into a Java POJO...
this works

[code]

but working with `dynamic.asMapValue()` is not easy... I want that to be populated in my Message class:

[code]

[2015-05-11 14:21] Anand-J-Kadhi opened #228 "Generic object serialization with MsgPack and ObjectMapper"
Hi,

I have a requirement that i have to serialize the object on runtime i.e any type of object can come. I am using msgpack integrated with Axon framework. So on the axon event handler i get object's on runtime which can be of any type. The serialization is done properly but the issue arises when i deserialize the byte Stream.
ex:
[code]
where ```serializedObject``` has custom method getData() wh

[2015-05-12 07:59] Anand-J-Kadhi commented on #226
I see that the @Message annotation and AbstractTemplate Class has been removed when i migrated from 0.6.9 to 0.7.0.p5 version. Is that intentional or i have to add another dependency for above classes.

[2015-05-13 08:07] Anand-J-Kadhi commented on #226
How to handle Meta-data with the MsgPack serializer ?

[2015-05-13 09:49] Anand-J-Kadhi opened #229 "Wrong serialization results while serializing object containing Map<String,Object>"
Hello ,
I am using msgpack 0.7.0-p5 ,ObjectMapper to serialize and deserialize objects.
The problem is that i get differnent results while marshalling/unmarshalling the object.

The object of the class i am serializing is :
[code]
when i am serializing this object the contents before serialization of the dataMap are :

[code]

And after deserialization i get a different payload :
[code]
As you can

[2015-05-16 12:36] komamitsu commented on #228
Unfortunately, I don't think it's possible to deserialize any object without type information.

[2015-05-16 12:46] komamitsu commented on #227
Can you try msgpack-v07? You can easily unpack the deserialized data into POJO with it like this:
[code]

[2015-05-16 16:10] komamitsu commented on #229
MessagePack needs to know that `logger` is an instance of `Loggers` and `roTimer` is an instance of `TransactionTimer` but `Map<String, Object>` doesn't include those information. One option is to create and use a POJO instead of `Map<String, Object>` like this.

[code]

[2015-05-17 06:07] komamitsu commented on #41
I'm closing this issue. Please re-open it if you still have any problem.

[2015-05-17 06:07] #41 closed

[2015-05-17 06:08] komamitsu commented on #61
I'm closing this issue. Please re-open it if you still have any problem.

[2015-05-17 06:08] #61 closed

[2015-05-17 06:08] komamitsu commented on #74
I'm closing this issue. Please re-open it if you still have any problem.

[2015-05-17 06:08] #74 closed

[2015-05-17 06:09] komamitsu commented on #110
I'm closing this issue. Please re-open it if you still have any problem.

[2015-05-17 06:09] #110 closed

[2015-05-17 06:11] komamitsu commented on #133
I'm closing this issue. Please re-open it if you still have any problem.

[2015-05-17 06:11] #133 closed

[2015-05-17 06:11] komamitsu commented on #134
I'm closing this issue. Please re-open it if you still have any problem.

[2015-05-17 06:11] #134 closed

[2015-05-17 06:12] komamitsu commented on #141
I'm closing this issue. Please re-open it if you still have any problem.

[2015-05-17 06:12] #141 closed

[2015-05-17 06:14] komamitsu commented on #208
I'm closing this issue. Please re-open it if you still have any problem.

[2015-05-17 06:14] #208 closed

[2015-05-17 06:27] komamitsu commented on #226
The API of 0.7.x isn't compatible with the one of 0.6.x. I hope https://github.com/msgpack/msgpack-java/blob/v07-develop/msgpack-core/src/main/java/org/msgpack/core/example/MessagePackExample.java is useful to understand how to use the API of 0.7.x.

For `jackson-dataformat-msgpack`, you can use Jackson annotations (https://github.com/FasterXML/jackson-annotations).

[2015-05-17 08:29] komamitsu commented on #214
@ChaosLeong I got `[-111, 1]` with the example code not `[-36, 0, 16, ...]`. Did you really get the serialized data with it?

[2015-05-17 08:32] komamitsu commented on #214
@RoSkin Please see https://github.com/msgpack/msgpack-java/blob/v07-develop/msgpack-core/src/main/java/org/msgpack/core/example/MessagePackExample.java and https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson.

[2015-05-17 12:56] Anand-J-Kadhi commented on #226
Thanks, i understood. Only one question ,I am using axon by default it uses XStreamSerializer which handles metadata for which it has a metadata converter like this :

[code]
Do msgpack has similar functionality for processing meta-data. If not can you suggest how to handle meta-data using msgpack.

[2015-05-17 14:25] komamitsu commented on #213
@ArcsinX Sorry for our late reply. This bug was fixed in https://github.com/msgpack/msgpack-java/pull/130. I released 0.6.12 in the last hour that includes the fix. Thanks.

[2015-05-17 14:25] #213 closed

[2015-05-18 03:33] ChaosLeong commented on #214
@komamitsu The complete Envelope.java as follows.

    @org.msgpack.annotation.Message
    public class Envelope {

        /**
         * required Field
         */
        public int version = -1;

        /**
         * optional Field
         */
        @Optional public long timeMillis;
        @Optional public long upTimeMillis;
        @Optional public String timezone;
        @Optional publ

[2015-05-21 05:45] Anand-J-Kadhi commented on #229
Can you suggest any other option as this would be a lot big change this time .... if possible .

[2015-05-22 05:34] Anand-J-Kadhi commented on #228
yes you are right , anyways i lwill use reflection.But then i need to create a long list of ```instanceOf ``` operator check for every object.
Thanks.

[2015-05-22 05:34] #228 closed

[2015-05-23 12:45] komamitsu commented on #226
@Anand-J-Kadhi Can you show me an usage example of `XStreamSerializer`?

[2015-05-23 14:58] komamitsu commented on #214
@ChaosLeong Thanks for the information. It seems it's related to the naive implementation of https://github.com/msgpack/msgpack-java/blob/master/src/main/java/org/msgpack/template/builder/AbstractTemplateBuilder.java.

An option is to explicitly add `@Index` annotation like this:
[code]

Also, you can resolve this sort of issues using https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpac

[2015-05-24 06:42] ChaosLeong commented on #214
@komamitsu It worked, thank you.

[2015-05-24 06:42] #214 closed

[2015-05-25 05:40] fdinoff opened #230 "Jackson can't serialize Integer (or basic types)"
The following fails with an IllegalStateException

[code]

[code]

I would expect the array returned to contain 0x01, which is what `out` would contain if done manually.

[code]

This appears to also fail for the other basic types such as booleans, BigInteger, and Strings.

[2015-05-25 05:51] fdinoff opened #231 "Jackson: BigDecimal fails to be parsed properly if the number is a long"
The following fails because of a MessageIntegerOverflowException
[code]

[code]

A possible fix would be

[code]

Which is just grab the value as a long instead of an int which can't hold the full range of the long.

[2015-05-25 06:07] fdinoff opened #232 "MessagePacker can't pack read only ByteBuffer"
The following crashes with an IllegalArgumentException

[code]

[code]

A possible patch

[code]

The position is modified when you call get on the byte buffer and modifying the position again is wrong since it goes over the end of the buffer or loses value.

[2015-05-25 06:12] fdinoff commented on #222
A simpler example that shows the behavior is

[code]

A possible fix would be to remove the while loop inside next.

[code]

read should always fill the buffer as much as possible. If the read returns it means that there is no data now (but there might be data later). So return the buffer as soon as possible so that it can be decoded instead of trying to fill the buffer completely.

[2015-05-25 06:19] fdinoff opened #233 "Jackson: ObjectMapper closes stream after writing value"
Currently the ObjectMapper closes the stream which means that you can't write two values to the underlying stream which mean that the following fails because the stream has been closed

[code]

with an IOException saying the pipe closed (same happens with socket)

[code]

For now I'm writing to a temporary array and then writing that value to the stream, but that seems inefficient.

[code]

Would

[2015-05-25 06:25] xerial commented on #232
Good catch.I'll fix the cursor position.

[2015-05-25 06:33] fdinoff opened #235 "Mixing Jackson api and value api"
The Jackson api requires that entire format of the message to be known ahead of time. However I don't know the type until after I have deserialized part of the message. (I'm implementing a [MessagePackRPC ][rpc] client).

For example for the [response][response], I need to deserialize an array in the format

    [type, msgid, error, result]

However I do not know the type of result until after I h

[2015-05-25 06:36] xerial commented on #232
@komamitsu
Could you review #232? Thanks.

[2015-05-25 06:43] xerial commented on #222
Another approach would be call `InputStream.available()`, which must be non-blocking.

[2015-05-25 07:01] #232 closed

[2015-05-25 07:05] fdinoff opened #238 "Jackson: Serializing and Deserializing Extended Types"
Currently we can deserialize an ExtendedType into a MessagePackExtendedType with an ObjectMapper from the getEmbbededObject method in MessagePackParser

One way of deserializing the object would be to have an customer deserializer. The following is an example of that where we have a java class called Buffer that is represented as an extension type where the extType is called bufferType. The conten

[2015-05-25 09:33] komamitsu commented on #231
@fdinoff How did you deserialize the bytes? I can't reproduce that error in the following way...
[code]

[2015-05-25 14:39] fdinoff commented on #231
Oops. I forgot to copy that part.

[code]

I assume in your example you actually have a Long object and not a BigDecimal.

[2015-05-25 16:58] komamitsu commented on #233
@fdinoff  By this PR https://github.com/msgpack/msgpack-java/pull/239, you can disable `Feature.AUTO_CLOSE_TARGET` like this:

[code]

[2015-05-26 01:16] fdinoff commented on #233
Enabling and disabling features doesn't seem to do anything. The test passes whether the `messagePackFactory.disable(JsonGenerator.Feature.AUTO_CLOSE_TARGET);` is enabled or disabled.

Could you also add that check so that readValue does the same thing? (I think it just add the check inside MessagePackParser)

[2015-05-26 03:58] komamitsu commented on #233
Good catch! I'll take care of it later.

[2015-05-28 06:32] #222 closed

[2015-05-29 12:20] #233 closed

[2015-05-29 12:23] komamitsu commented on #233
@fdinoff I fixed the bug that changed wrong feature flag. Also you can call `readValue` more than once with `AUTO_CLOSE_SOURCE`, I think.

[2015-05-29 16:28] #231 closed

[2015-05-29 16:30] komamitsu commented on #231
Fixed it.

@fdinoff Thanks for reporting this.

[2015-05-30 15:12] #230 closed

[2015-05-30 15:12] komamitsu commented on #230
@fdinoff Thanks for reporting this. I fixed it in https://github.com/msgpack/msgpack-java/pull/243.

You can write like this:
[code]

[2015-06-01 13:55] fdinoff commented on #233
Thank you, This seems to work.

[2015-06-07 20:09] fdinoff opened #244 "Jackson: Deserialize map with non String keys"
I'm trying to deserialize a map that contains keys that are not Strings. They do not seem to be deserialized properly.

For instance the library I am interfacing with, treats all strings as the binary type. (The encoding of the bytes not guaranteed to be utf-8 which is why they are not using the string type.)

So assuming I have a map of `{a:1, b:2, c:3}` where a, b and c are binary payloads. The

[2015-06-11 03:28] BrentHuang opened #247 "what's the differences between msgpack-java v0.6 and v0.7?"
My code is as following:
public class LoginReq {
    private int vendor;
    private String account;

    public LoginReq() {}

    public LoginReq(int vendor, String account) {
        this.vendor = vendor;
        this.account = account;
    }

    public int getVendor() {
        return vendor;
    }

    public void setVendor(int vendor) {
        this.vendor = vendor;
    }

    public String

[2015-06-11 03:57] xerial commented on #247
Writing object in v0.6 packs object fields within array type, but your code for v0.7 just writes object parameters. If you use packArrayHeader(2) in v0.7, it will give the same result.

[2015-06-12 10:27] junstor opened #248 "unpack fail from a map"
[code]

In my case, I want to pack a map like: {"key1":"value1", "key2":"value2"} in msgpack. And then I unpacked it, I found that I can only get 3 fields (key1, value1, key2).

The result of the above code is :
[code]

Please give me a hand, tks.

[2015-06-12 10:33] junstor commented on #248
Sorry, I found the reason, I missed a packer.flush();
Closed.

[2015-06-12 10:33] #248 closed

[2015-06-13 12:17] komamitsu commented on #235
Sorry for the late reply. In this case, you can use `JsonNode` instead of `Value` like this:

[code]

[2015-06-13 17:40] #247 closed

[2015-06-13 20:23] fdinoff commented on #235
For this use case that seems like it could work. Let me try it and get back to you.

[2015-06-14 22:44] fdinoff commented on #235
This seems to work for this use case. I still think It would be nice to mix the two apis. I don't feel like the `JsonNode` represents the data type underneath properly. Especially when the `JsonNode` is representing an object. Message Pack maps can have arbitrary keys, However JSON can only have Strings for keys

[2015-06-15 10:12] BrentHuang opened #252 "Different result when pack binary data between v6 and v7, terrible!"
import java.io.ByteArrayOutputStream;
import java.io.IOException;

import org.msgpack.core.MessagePack;
import org.msgpack.core.MessagePacker;

public class MyObject {

    public byte[] x;

    public byte[] pack() throws IOException {
        ByteArrayOutputStream out = new ByteArrayOutputStream();
        MessagePacker packer = MessagePack.newDefaultPacker(out);
        packer.packArrayHeader(1

[2015-06-15 10:18] BrentHuang commented on #252
Have you do some testing on your code? when I use v6, I find msgpack-java creates so many classes with diffent name such as MyMessage_$$_Template_1248084???, and consume all the memory!
And there is no object packing utilities in v7, it's so tedious to pack/unpack object(usually embeded with sub-objects)! would you please tell me how to pack and unpack object conveniently with v0.7?

[2015-06-15 17:01] fdinoff commented on #252
The automatic packing tools are in found in the msgpack-jackson folder of the repo. https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson

[2015-06-15 18:09] fdinoff commented on #235
Nevermind, This doesn't actually work for this use case. The library I am interfacing with encodes all strings as binary. When converting the MessagePacked Map to a JsonNode information is lost inside of the maps, which makes object deserialization fail later on.

[code]

The output from running the above is
[code]

[2015-06-16 02:27] BrentHuang commented on #252
The result packing with msgpack-jackson is different with the result packing with msgpack-java v6!

[2015-06-16 03:58] komamitsu commented on #235
Thanks for reporting it. Maybe it can be fixed in `MessagePackParser`. I'll check it later.

[2015-06-16 04:45] komamitsu commented on #252
v6 packs a byte array as a `fixstr`, while v7 packs it as a `bin 8`.  `bin 8` was added 1.5 year ago. v6 and v7 can unpack the both formats as a byte array. So it's no problem.

[code]

See also https://github.com/msgpack/msgpack/blob/master/spec.md

[2015-06-23 11:11] #95 closed

[2015-06-23 11:14] xerial commented on #97
Close this ticket and let us go with plan b)

[2015-06-23 11:14] #97 closed

[2015-06-23 11:16] xerial commented on #183
Implemented with Arrays.hashCode and Arrays.equals

[2015-06-23 11:16] #183 closed

[2015-06-23 11:19] xerial commented on #165
New MapValue.equals is implemented by translating the value into a Map:
https://github.com/msgpack/msgpack-java/blob/v07-develop/msgpack-core/src/main/java/org/msgpack/value/impl/ImmutableMapValueImpl.java#L137-137

This implementation still might have this performance problem.

[2015-06-23 11:28] xerial commented on #106
You can use ValueFactory.newArray(Value...)  to construct ArrayValue

[2015-06-23 11:28] #106 closed

[2015-06-23 11:57] #252 closed

[2015-06-23 12:05] xerial commented on #44
Fixed in 9f4e258237f205729781a57fe8ff1894055af3a2

[2015-06-23 12:05] #44 closed

[2015-06-23 12:07] #227 closed

[2015-06-23 12:10] xerial commented on #126
Let me close this ticket since there has been no discussion for a year.

[2015-06-23 12:10] #126 closed

[2015-06-23 12:13] xerial commented on #122
MessagePack reader and writers are designed for single-thread use. If you need to make them thread-safe, you need to wrap every call to packXXX/unpackXXX with some synchronization block.

But I recommend you to let each thread use separate MessagePacker/Unpacker, then concatenate the results. It should be much faster than accessing single packer/unpacker instances concurrently.

[2015-06-23 12:13] #122 closed

[2015-06-23 12:14] xerial commented on #50
This will be done in #40

[2015-06-23 12:14] #50 closed

[2015-06-23 12:22] xerial commented on #38
In the message pack specification, integer value just conveys 63-bit signed integer:
https://github.com/msgpack/msgpack/blob/master/spec.md#types-limitation

So to support checking the actual message format type, it would be better to add a method (e.g., Value.getMessageFormatType) or let MessageUnpacker return the last read MessageFormat type. I think the latter is appropriate since Value is a se

[2015-06-27 07:12] xerial opened #259 "Rename data access methods"
Follow up of #246.
- toXXX (may lose information with casting, but throws no exception)
- asXXX (may throw exception)
- toJson  (produces json like string)

[2015-06-28 07:49] komamitsu commented on #238
@fdinoff I added org.msgpack.jackson.dataformat.MessagePackExtensionType.Serializer in https://github.com/msgpack/msgpack-java/pull/250. That way you can serialize an extension type (the name changed from `extended type` in https://github.com/msgpack/msgpack-java/pull/246) now

[2015-06-28 14:18] komamitsu commented on #235
@fdinoff The issue was fixed in https://github.com/msgpack/msgpack-java/commit/2242fe497b88c6add197b67ffd46a71e926ff593.

[2015-06-28 18:25] fdinoff commented on #238
[`MessagePackParser#getEmbeddedObject:401`](https://github.com/msgpack/msgpack-java/blob/ef2a934682aad574126cbebbdd950a1e1cbf1989/msgpack-jackson/src/main/java/org/msgpack/jackson/dataformat/MessagePackParser.java#L401) no longer returns org.msgpack.jackson.dataformat.MessagePackExtensionType, it returns ImmutableExtensionValue. Should [`writeExtendedType`](https://github.com/msgpack/msgpack-java/

[2015-06-28 20:55] fdinoff commented on #235
Thank you. I'll take a look at it sometime this week.

[2015-06-29 00:13] komamitsu commented on #238
Good point. The reason I used `MessagePackExtensionType` instead of  `ExtensionValue` is to use `JsonSerialize` annotation that tells Jackson to serialize it with `MessagePackExtensionType.Serializer`.

I forgot the change of `MessagePackParser#getEmbeddedObject` and I'll modify it to return `MessagePackExtensionType` for consistency.

[2015-06-29 00:47] fdinoff commented on #238
Another option is to create a module and use [mixins](http://wiki.fasterxml.com/JacksonMixInAnnotations). Although I don't know which is better. It might be worthwhile if you want to add annotations to the other types as well.

[2015-06-29 07:37] komamitsu commented on #238
Fixed the inconsistency in https://github.com/msgpack/msgpack-java/pull/262.

As for module, it's what I considered but I decided not to use it in this case because of the following reasons:
- `MessagePackGenerator` can access `ObjectCodec` in the constructor that is the parent class of `ObjectMapper` and `ObjectReader`.
- Only `ObjectMapper` has `registerModule` method while `ObjectReader` doesn'

[2015-06-29 09:03] #38 closed

[2015-06-29 23:21] cmccabe opened #263 "There is no easy way to pack or unpack integers as unsigned"
The Java programming language lacks support for unsigned numbers.  However, it is often necessary to interoperate with systems that do support unsigned numbers.  In these cases, it would be useful to be able to pack an "int" or "long" value from Java as if it were an unsigned value.  This is particularly true when the "int" or "long" is simply an opaque ID rather than a counter.

Currently, Packer

[2015-06-30 01:36] fdinoff commented on #238
Thanks, that makes sense. I created a pull request with the last couple of suggestions #264. Thanks for adding this.

[2015-06-30 01:36] #238 closed

[2015-07-05 07:55] xerial commented on #259
Done by #265

[2015-07-05 07:55] #259 closed

[2015-07-05 17:34] fdinoff commented on #235
@komamitsu this seems to work. Thank you.

The only cases where it doesn't work are in #244

[2015-07-05 17:34] #235 closed

[2015-07-28 14:58] Anand-J-Kadhi opened #267 "Suggest way to Upgrade to Jackson 2.5.4"
Hello ,

I was facing an exception :: https://github.com/msgpack/msgpack-java/issues/226

For that i got an answer :: https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson

so i am using the dependency ::

  <groupId>org.msgpack</groupId>
  <artifactId>jackson-dataformat-msgpack</artifactId>
  <version>0.7.0-p9</version>

after that i was facing below exception ::
https://github

[2015-07-30 17:27] komamitsu commented on #267
Can you try 0.7.0-M6 for now? It uses Jackson 2.5.3. We'll update the version to 2.5.4 later.

[2015-08-04 18:20] Anand-J-Kadhi commented on #267
Thanks @komamitsu i will upgrade to the suggested version.
Meanwhile, want to discuss that i am facing issue while deserialization and i am completely stuck and having no clue why it comes.

The issue is i am getting below exception when deserializing an object ::

JsonMappingException: Can not instantiate value of type [simple type, ]from Integral number (60); no single-int-arg constructor/factor

[2015-08-06 06:30] Anand-J-Kadhi opened #268 "Jackson Mapping exception while deserializing byte array with all positive bytes value"
Hi ,

I am using msgpack 0.7.0-M6 with com.fasterxml.jackson.databind.ObjectMapper by passing the msgpack instance to objectmapper like
[code]

Then i serilize the object using the following method
[code]

The serialized bytes comes as
[code]

Then i deserialize the bytes using following method ::
Object object=objectMapper.readValue(b, myobject.class);

But every time i get the following exceptio

[2015-08-06 07:56] Anand-J-Kadhi opened #269 "why unsupportedOperationException thrown directly when using WriteValueAsString?"
Hi,

I am using the following dependency for msgpack
[code]
 And i am passing the msgpack instance to ObjectMapper
[code]

I am trying to use method writeValuesAsString of the objectMapper by using method ::
[code]
this goes to the ```com.fasterxml.jackson.databind.ObjectMapper.writeValueAsString(Object) ```
method on line number 2338 then it delegates the responsibility to msgpack class ``` org.m

[2015-08-07 07:10] Anand-J-Kadhi commented on #267
Hi @komamitsu,

Please ignore the above exception as on analysis i found that it is xml data which was being tried to deserialized. Closing the issue and marking as invalid , sorry for the inconvinience caused.

[2015-08-07 07:10] #267 closed

[2015-08-07 07:11] Anand-J-Kadhi commented on #268
Please ignore the above exception as on analysis i found that it is xml data which was being tried to deserialized. Closing the issue and marking as invalid , sorry for the inconvinience caused.

[2015-08-07 07:11] #268 closed

[2015-08-09 10:28] komamitsu commented on #229
@Anand-J-Kadhi Sorry for the late reply. How about storing Class information into serialized data like this ? You need to write serde, though.

[code]

This way will be available in the next release.

[2015-08-09 11:23] Anand-J-Kadhi commented on #229
Hi @komamitsu ,

No issues , Thanks for this detailed answer.

[2015-08-09 11:23] #229 closed

[2015-08-09 16:22] #244 closed

[2015-08-09 16:36] komamitsu commented on #244
@fdinoff In https://github.com/msgpack/msgpack-java/issues/271, jackson-dataformat-msgpack supports Boolean, Integer and Float type key while byte array key seemed to work before the change.

BTW, you tried to use `Map<byte[], Integer> map` but I don't think it's easy to use `byte[]` as a key of Map since `byte[]#equals` doesn't match other byte arrays which have the same values.

[2015-08-10 14:28] simpleseeker commented on #244
Iy
 Bl MDM a
N,b. Et

On Sunday, August 9, 2015, Mitsunori Komatsu <notifications@github.com>
wrote:

[2015-08-13 15:05] komamitsu commented on #269
MessagePack is a binary serialization format and can't be represented in text format.

[2015-08-14 10:56] bosphere commented on #269
imho exactly because it's in binary serialization format, being able to get a readable JSON string from writeValueAsString before actually writeValueAsBytes will greatly help in the debugging process. Or is there any other way to visualize the content being encoded?

[2015-08-20 00:26] fdinoff commented on #244
@komamitsu Thanks for adding this.

Would it be possible to get a `Map<String, Integer> map` back if byte[] was the key of the map? The user would have to provide the enocding (By passing a Charset) so that you could decode it properly.

[2015-08-21 16:30] komamitsu commented on #244
`Map<String, Integer>` can be obtained from `Map<byte[], Integer>` easily like this and I don't think this library doesn't need to provide it.

[code]

[2015-08-23 07:18] komamitsu commented on #269
@bosphere You can use `com.fasterxml.jackson.databind.ObjectMapper#writeValueAsString` with default JsonFactory like this:
[code]

[2015-08-23 07:18] #269 closed

[2015-08-23 07:33] komamitsu commented on #226
@Anand-J-Kadhi Can I close this issue?

[2015-08-23 21:15] fdinoff commented on #244
@komamitsu Sorry, didn't realize that `byte[]` was a valid key now.

The problem now is what happens if the bytes weren't valid utf8? is the conversion to String and back to a byte array lossless? The doc for [String#getBytes()] (http://docs.oracle.com/javase/7/docs/api/java/lang/String.html#getBytes()) says its unspecified, so the conversion isn't lossless. Losing valid data would be undesirable.

[2015-08-25 04:42] opensrcken opened #272 "is MessagePack thread-safe?"

[2015-08-25 04:44] xerial commented on #272
No. You should use appropriate synchronization blocks around MessagePacker/Unpacker methods.

[2015-08-25 04:44] #272 closed

[2015-08-27 07:51] MereutaRadu opened #273 "ExceptionInInitializerError because it did not find MessageBufferU"
Hi,

I'm trying to upgrade from msgpack 0.5.3 to 0.7.0-M6.

Followed the example from: https://github.com/msgpack/msgpack-java/blob/v07-develop/msgpack-core/src/test/java/org/msgpack/core/example/MessagePackExample.java, but my app always crashes with this error:

`08-22 19:47:37.532    9501-9501/com.myapp.dev E/AndroidRuntime? FATAL EXCEPTION: main
    java.lang.ExceptionInInitializerError

[2015-08-27 20:02] xerial commented on #273
Let me know the Android version number you are using.

[2015-08-27 20:14] MereutaRadu commented on #273
Tested on a 4.4  and 4.3 device.

[2015-08-27 20:18] xerial commented on #273
If you are using some compiler option that deletes unused class, this might be a cause. MessageBufferU is called by reflection and there is no direct import statement within the msgpack-core code.

[2015-08-27 20:21] xerial commented on #273
If you are using ProGuard, MessageBufferU class might be deleted at bundling process. See also discussion at:
https://github.com/msgpack/msgpack-java/issues/101

This might be related:
http://stackoverflow.com/questions/7464035/how-to-tell-proguard-to-keep-everything

[2015-08-27 20:22] xerial commented on #273
A quick workaround would be write an import statement in your code:
`import org.msgpack.core.buffer.MessageBufferU`
so that MessageBufferU will not be deleted.

[2015-08-27 20:24] MereutaRadu commented on #273
Ok. Will check that in the morning. If it works i'll close the issue. Thanks a lot!

[2015-08-28 06:44] MereutaRadu commented on #273
Proguard was my problem. Thanks for helping me :) Closing the issue.

[2015-08-28 06:44] #273 closed

[2015-08-29 05:06] #226 closed

[2015-09-11 05:14] verandar opened #277 "MessageUnpacker.unpackString returns invalid String"
[code]

[2015-09-11 06:35] xerial commented on #277
At a first glance, you should call MessagePacker.flush() or close() to get the correct pack result.
And packer.writePayload must follow packer.packByteArrayHeader(tmp.length)

[2015-09-11 07:11] verandar commented on #277
Thanks.
MessagePacker.flush() or close() should be called by try-with-resources.
And I don't think packer.packByteArrayHeader() is a problem.

Here is another example.
I added packer.packBinaryHeader() and unpacker.unpackBinaryHeader().
And I changed tmpSize.

[code]

[2015-09-11 07:26] verandar commented on #277
Previous example has a problem.
I changed the tmpSize again.

[code]

[2015-09-22 10:09] xerial commented on #277
Thanks! I'll look into this problem.

[2015-09-24 17:31] szetheli opened #278 "MessagePackerGenerator handling BigDecimal badly"
Discovered this when experimenting with using MsgPack to serialize a JAXB generated message.
java.lang.IllegalArgumentException: MessagePack cannot serialize a BigDecimal that can't be represented as double. 33.40
at org.msgpack.jackson.dataformat.MessagePackGenerator.packBigDecimal(MessagePackGenerator.java:200)
at org.msgpack.jackson.dataformat.MessagePackGenerator.packValue(MessagePackGenerator

[2015-09-25 10:29] komamitsu commented on #278
@szetheli
Could you give me an example code that can reproduce the error?
BTW, a value serialized as BigInteger and Integer can't be deserialized by other user. It's cause an incompatible issue, I think.

[2015-10-17 12:40] redboltz opened #280 "STR unpacked as empty string when packValue() calls twice"
Hi, I'm using msgpack-java 0.7.0-p9. I got a weird packed data when I pack a value that is from unpackValue(). The original data is a string `ABC`.

I think that packed data should always be `A3414243`, but the second output is `A0`. That means an empty string. Just after I got the output, value `v` still outputs `ABC` when I call `System.out.println(v)`.

[code]

Here is a minimal source code tha

[2015-10-18 02:34] redboltz commented on #280
I tested the code with little modification (*1) on version 0.7.0-M6. The issue is no longer reproduced.

*1

Replaced
[code]
with
[code]

If maintainer had recognized the issue and have fixed it, please close the issuse.

[2015-10-20 03:11] sophyphilo opened #281 "How to get the packed-data's offset while unpacking it?"
I have a packed-data buffer obtains two packed structs, and wanna unpack both of the struct data one by one.However,In msgpack-java I can not find the unpack function 'read',which returns **the first packed struct's length**.So it is not be able to get the **offset** to unpack the second packed struct in msgpack-java.
Anyone knows how to handle the problem? Thanks a lot.

**for example:**

in msgp

[2015-10-23 02:58] komamitsu commented on #277
@xerial Are you looking into this issue? If not, can I take care of it?

[2015-10-23 02:58] komamitsu commented on #277
Sorry, I closed it by mistake. Reopened it

[2015-10-23 08:34] xerial commented on #277
@komamitsu
If you can work on this, please do it. Thanks.

[2015-10-24 16:22] komamitsu opened #282 "Sliced MessageBufferU#copyTo() can't copy proper data"
[code]

[2015-10-26 17:58] #282 closed

[2015-10-28 16:34] komamitsu commented on #280
@redboltz Thanks for reporting.

We refactored `org.msgpack.value.*` drastically between `0.7.0-p9` and `0.7.0-M6`. As a result, This problem doesn't seem to be reproduced in `0.7.0-M6`. I guess that's because Value uses byte array not ByteBuffer in `0.7.0-M6` while such as org.msgpack.value.impl.RawValueImpl in `0.7.0-p9` used ByteBuffer.

[2015-10-28 18:09] #277 closed

[2015-10-30 15:20] #280 closed

[2015-11-01 11:28] komamitsu commented on #281
@sophyphilo Sorry for late reply.
With msgpack-java, you don't need to take care of the offset of packed bytes since it handles input data as a stream.

Here is an example code.
[code]

[2015-11-01 13:23] komamitsu commented on #278
@szetheli Fixed the issue. Thanks for reporting it!

[2015-11-01 13:23] #278 closed

[2015-11-02 01:43] sophyphilo commented on #281
@komamitsu  Thanks very much, the answer is very detailed!

[2015-11-02 06:19] #281 closed

[2015-11-05 08:47] xerial commented on #147
Done.

[2015-11-05 08:47] #147 closed

[2015-11-12 02:02] shirleyniara opened #288 "Fail to unpacke byte[] to JsonNode: Exception in thread "main" java.lang.NoSuchFieldError: STRICT_DUPLICATE_DETECTION"
Hi,

I am trying MessagePacker to pack JsonNode to byte array then unpack the byte array back to JsonNode. It gave me " java.lang.NoSuchFieldError: STRICT_DUPLICATE_DETECTION" exception during the unpack.

Here is my source code:
public class MessagePacker {

    public static void main(String[] args) throws IOException {
        ObjectMapper objMapper = new ObjectMapper(new MessagePackFactory() )

[2015-11-12 14:03] komamitsu commented on #288
It seems `JsonParser.Feature.STRICT_DUPLICATE_DETECTION` was added at 2.3.0.

https://github.com/FasterXML/jackson-core/commit/6fc0271dc60f513e31bd6649d53c9d665ab6f11d#diff-8ce9e55279cc32dc3ea176fa35d406b5R183

@shirleyniara How did you build your project? Which version of msgpack-java did you use?

[2015-11-15 03:27] komamitsu opened #292 "MessagePacker#packString is slow when outputting to FileOutputStream"
I found MessagePacker#packString is slow when outputting to FileOutputStream.
[code]

[code]

[2015-11-17 07:12] #292 closed

[2015-11-17 15:59] jandk opened #296 "ImmutableDoubleValueImpl needs as* methods"
When trying to extract floating point numbers from values, I get an MessageTypeCastException.

This because the ImmutableDoubleValueImpl as no as* methods, which makes it hard to get the values out.

[code]

[2015-11-26 09:37] kevin-nazgul opened #298 "Fields Order in generated class file may be change by javac"
I use msgpack in my android project, and I use msgpack like this:
[code]

I disassembling its class to smali:
[code]

As you see, fields order may be change by javac. So data serialized by old version class may not deserialize by new version.

The [Binary Compatibility chapter of the Java Language Specification](http://docs.oracle.com/javase/specs/jls/se7/html/jls-13.html) is explicit about the fa

[2015-11-26 09:46] xerial commented on #298
As you mentioned, there is no guarantee that JVM returns stable field orders. In v07, you can use msgpack-jackson for serialize/deserializing objects. Jackson has an option to sort fields alphabetically.
`objectMapper.configure(MapperFeature.SORT_PROPERTIES_ALPHABETICALLY, true);`

[2015-11-26 09:57] kevin-nazgul commented on #298
Thanks!
I also use proguard to obscure my class, so the field's name is no guarantee. Maybe i should use `index` annotation to solve this. But I suggest that have some warning in docs, so other users don't encounter this issue.

[2015-11-26 10:06] xerial commented on #298
That's nice idea. Thanks for the suggestion.

[2015-11-26 10:06] #298 closed

[2015-12-21 04:56] xerial opened #299 "Add MessagePacker/Unpacker factory"
To simplify MessagePackConfig.

[2015-12-21 05:12] xerial opened #300 "byte[] MessagePacker.packXXX API"
Tailored to output byte[] arrays

[2015-12-21 08:01] komamitsu commented on #288
Closing this issue. If you still have any problem, please reopen it?

[2015-12-21 08:01] #288 closed

[2015-12-30 13:19] marenzo opened #313 "[0.7] backward compatibility with previous serialization api (0.6)"
I'm trying to upgrade from 0.6 to 0.7, and from what I saw the protocol itself is backward compatible.
We're having a lot of services out there which are using msgpack to communicate between them (RPC), and for doing this upgrade I must that the previous client (0.6) will know to deserialize 0.7 output, and vice-versa.

For now I'm having this two issues:
- Having the following code:
[code]
STR8 i

[2015-12-30 16:14] komamitsu commented on #313
@marenzo
As for STR8, recent msgpack-java 0.6 seems to support it. https://github.com/msgpack/msgpack-java/blob/msgpack-0.6.12/src/main/java/org/msgpack/unpacker/MessagePackUnpacker.java#L211
Could you try 0.6.12?
[code]

[2015-12-30 16:41] marenzo commented on #313
@komamitsu
I can't, because of the reason that most of the deployed services are using 0.6.7, and I can't do one big rollout to all the services in production. I'll provide soon patch for making str8 format configurable in 0.7.
My mission is to have both 0.6 and 0.7 in production to work seamlessly

[2015-12-31 14:48] komamitsu commented on #313
RE serializing POJO, 0.6 serializes only values as an array w/o field names depending on the order that `getDeclaredFields` returns and it's a naive way and sometimes caused problems. So 0.7's jackson-dataformat-msgpack serializes POJO as a map (`object` in JSON) on jackson-databind framework and it's robust since the serialized data includes each key and value. As a result, the serialization of P

[2016-01-01 06:17] komamitsu commented on #313
I understand your situation, but 0.6.7 is outdated. 0.6.12 includes bug fixes and improves and I should recommend you to use 0.6.12 instead of 0.6.7. Also, making MessagePack 0.7 disable STR8 format in serialization doesn't sound an usual use case.

[2016-01-01 21:51] potyt opened #316 "Am I missing something, or has the API gotten massively more complicated?"
I was previously using 0.6.8 and it was lovely and simple: create a packer, "write" primitives to it, create an unpacker, "read" primitives from it.

Now I can't for the life of me work out what I am supposed to do, there is no "read" method, no generic write method. There are various pack and unpack methods, but why on earth do the method names have the type in them, what's wrong with overloading

[2016-01-01 23:34] potyt opened #317 "API consistency"
When I have a `Value` object, e.g. `IntegerValue`, how should I get the underlying int out of it?

    IntegerValue v = ...;
    v.asInt(); // this would look be be correct

now with a `BooleanValue`:

    BooleanValue v = ...;
    v.asBool(); // doesn't exist
    v.asBoolean(); // doesn't exist
    v.getBoolean();  // this is the one!

OK, so my `asInt` must be the wrong method above...

    Inte

[2016-01-01 23:46] potyt opened #318 "Documentation ... (float / double)"
I think there must be some documentation that I just can't find hiding somewhere.

If I pack a float, it seems it gets packed as a float value, and I guess I unpack it as such as well. Now, for a double, is this a FloatValue as well, or a NumberValue (we already have IntegerValue). If a double gets packed via the FloatValue type, then when unpacking it how do I know if it is single or double preci

[2016-01-04 15:14] marenzo commented on #313
The main issues here that msgpack-java doesn't provides documentation enough.
Biggest thing that is missing for me is migration path - what does it mean upgrading from 0.6 to 0.7, is there any BC, how is it recommended to do the upgrade. Upgrading to 0.6.12 won't help me with anything as you say, because 0.7 serializes POJOs differently.
Eventually in systems that are **not** monolith, doing such

[2016-01-04 17:58] xerial commented on #300
MessageBufferPacker is introduced in #310

[2016-01-04 17:58] #300 closed

[2016-01-04 17:59] xerial commented on #299
In #310, MessagePack.Packer/UnpackerConfig have been introduced and these classes can be used as a factory

[2016-01-04 17:59] #299 closed

[2016-01-04 18:00] xerial commented on #112
Resolved in #310

[2016-01-04 18:00] #112 closed

[2016-01-04 18:00] xerial commented on #89
This is an obsolete ticket.

[2016-01-04 18:00] #89 closed

[2016-01-09 06:30] seveniu opened #332 "asBooleanValue() throw exception"
[code]

how can I get boolean value ?

[2016-01-13 02:11] frsyuki commented on #332
I think this is a bug. I created #333.

[2016-01-20 08:42] xerial opened #338 "MessageUnpacker.readPayloadAsReference throws MessageInsufficientBufferException for InputStream"
In msgpack-core-0.8.1 MessgeUnpacker created by `MessagePack.newDefaultUnpacker(new GZIPInputStream(new ByteArrayInputStream(...))` throws MessageInsufficientBufferException.

[code]

[code]
For the same input data, 0.7.1 or using a byte array as an input source has no problem.

I'll create a test case for reproducing this error.

[2016-01-20 13:24] xerial commented on #338
I found this is related to the lifetime of MessageBuffer. Not a bug.

[2016-01-20 13:24] #338 closed

[2016-01-22 01:56] #332 closed

[2016-01-24 14:50] yuren892 opened #339 "sun.misc.Unsafe is not supported by Google App Engine"
Can't use MessagePack in Google App Engine.
org.msgpack.core.buffer.MessageBuffer has many Unsafe classes in it.

[2016-01-25 02:26] #339 closed

[2016-01-27 14:02] crumbpicker opened #340 "Can not deserialize instance of MyClass out of START_ARRAY token"
Hi there,

I'm trying to switch from msgpack-scala to jackson-dataformat-msgpack.
I have some data already stored using msgpack-scala that I would like to deserialize using this new library.

When I try to do the deserialization I have the following Exception:
com.fasterxml.jackson.databind.JsonMappingException: Can not deserialize instance of MyClass out of START_ARRAY token.

What I understood i

[2016-01-27 16:24] crumbpicker commented on #340
I found the problem.
Here is my scala class:
[code]

When I was using msgpack-scala the serializer was encoding this class to a List of the different arrays in this class.
So now when I try to deserialize the data with the jackson module it fails because it tries to map the data inside an object (I guess a kind of bean).

I found a workaround which consists in first deserializing my data inside a

[2016-01-27 18:09] crumbpicker commented on #340
Finally I found the answer by myself.
I have added the following annotation to my class:
[code]

Now it serializes/deserializes correctly using the same data representation I had before.
So I see this as a bug from msgpack-scala or a behavior I don't understand from this library.

I close the issue because the origin of the problem doesn't come from jackskon-msgpack.

Sorry about that guys !

[2016-01-27 18:09] #340 closed

[2016-01-27 19:07] frsyuki commented on #340
:+1:

[2016-01-28 02:51] komamitsu commented on #313
@marenzo
We found Jackson annotation `@JsonFormat(shape=JsonFormat.Shape.ARRAY)`. You could serialize and deserialize POJOs in both 0.6 and 0.7 using the annotation like this:

[code]

[2016-02-03 07:15] gavinfish opened #342 "Link for IntelliJ setting file is invalid"
Hi, when I click the link for IntelliJ setting file in README, I get the response like 'Not Found'.

[2016-02-04 05:33] oza commented on #342
Committed this on #343. Thank you for reporting, @gavinfish.

[2016-02-04 05:33] #342 closed

[2016-02-10 19:37] crumbpicker opened #344 "Support jackson-core 2.7.x"
As the latest versions of some of my other dependencies rely on 2.7.x, I'd really appreciate jackson-core 2.7.x support.

[2016-03-01 09:58] saurav2968 opened #351 "Turn on old spec while encoding"
Is there a way(a flag or something) to tell msgpack java v0.7.0-p7 to use old sepcification while encoding?

[2016-03-02 13:02] smigfu opened #352 "Add OSGi instructions to bundle"
Could we add OSGi headers to the MANIFEST.MF so the project can be used in an OSGi environment?

[2016-03-07 08:28] komamitsu commented on #344
Fixed in https://github.com/msgpack/msgpack-java/pull/345

[2016-03-07 08:28] #344 closed

[2016-03-10 04:46] xerial commented on #352
Could you check #353 and generated bundle? https://oss.sonatype.org/content/repositories/snapshots/org/msgpack/msgpack-core/0.8.4-SNAPSHOT/

I'm not sure the exported package is sufficient for OSGi.

[2016-03-10 10:58] smigfu commented on #352
Hey Taro, thanks for looking into this. I am sorry I didn't provide a PR with the headers myself, but I am not too familiar with sbt. Anyhow I have checked the generated bundles and there are some imports missing. I have attached the MANIFEST.MFs for msgpack.core and jackson-dataformat-msgpack as they should look like (I have generated those by using the OSGi-BND tools).

`Manifest-Version: 1.0
Bu

[2016-03-10 10:59] smigfu commented on #352
[MANIFEST.MF.TXT](https://github.com/msgpack/msgpack-java/files/166982/MANIFEST.MF.TXT)
[MANIFEST.MF.TXT](https://github.com/msgpack/msgpack-java/files/166983/MANIFEST.MF.TXT)

[2016-03-11 08:39] xerial commented on #352
Thanks for the details. Yes. This manifest is useful to modify the sbt settings:
[code]

[2016-03-11 09:50] PGDream opened #354 "messagePack for java bean process"
我先定义一个java bean，我通过MessagePack.pack方法把List bean 序列化，但是我通过MessagePack.unpack方法时不成功报错
错误信息如下:
Exception in thread "main" org.msgpack.MessageTypeException: org.msgpack.MessageTypeException: Expected raw value, but got array value

[2016-03-29 22:26] mattbishop commented on #352
FWIW 0.6.x had OSGi manifests. This is a regression.

[2016-03-29 22:59] mattbishop commented on #352
#353 looks OK, though you don't need to import-package the osgi framework AFAIK.

[2016-03-29 23:31] xerial commented on #352
Released 0.8.4 with the OSGi bundle properties.

[2016-03-29 23:31] #352 closed

[2016-04-04 02:46] xerial commented on #351
@saurav2968 What exactly does 'old spec' mean?

[2016-04-06 15:55] marenzo commented on #313
@komamitsu
sorry for late reply. Thanks for the answer, I've tried that and seems to work well!
I've created a new PR about the other discussion of str8 support, and with that change I believe I'll be able to do this migration safe (#356).

[2016-04-11 02:27] 466977183 opened #360 "Java QuickStart"
MessagePack msgPack =new MessagePack()  ,i tried in my demo,but this constructor is private in 0.8.4 version,

[2016-04-16 22:42] marenzo commented on #313
@xerial @komamitsu hey again.
today I've found some strange case, where old msgPack fails to unserialize value of new serializer - when I'm trying to serialize Map of Integer -> Pojo with the new api, I'm failing to unserialize it from the old one. Check out the following test:

[code]

I'm having here a pojo called `BasicEntity`, which I'm putting in a map and trying to serialize / unserialize, a

[2016-04-16 23:34] xerial commented on #313
Could you show us the actual generated byte array (in hex format)?

[2016-04-17 08:09] marenzo commented on #313
This is the generated byte array:
old serializer: "9401a6626c61626c6195a176a162a162a166a1728105a176"
new serializer: "9401a6626c61626c6195a176a162a162a166a17281a135a176"

the entity I'm serializing with its values located at the previous comment test

[2016-04-17 08:11] marenzo commented on #313
One last thing, if I haven't mentioned, the new serializer does able to deserialize the byte array of the old one

[2016-04-17 14:14] komamitsu commented on #313
@marenzo
jackson-dataformat-msgpack which is used in 0.7 is one of Jackson Databind extensions and Jackson Databind accepts only String as a key of Json object. So the key of Map<Integer, String> is needed to be serialized as String and deserialized it as Integer according to its class definition in Jackson Databind (jackson-dataformat-msgpack).

But, MessagePack 0.6 doesn't know that and tries to

[2016-04-17 15:06] marenzo commented on #313
@komamitsu isn't we're loosing here a bit of msgpack compactness, where the protocol doesn't contain such limitation (comparing to Json), but here we're disabling this feature?

I can run some tests compare generated byte arrays sizes with the new client compare to the old one if you'd like

[2016-04-17 16:13] marenzo commented on #313
on same topic, added one more test which does:

[code]
and failing on:
[code]

as you mentioned, the JSON key has to be String, and also ObjectMapper doesn't know how to handle maps where the key is custom pojo, so (at least by what Google's says) you need to create your own key serializer / deserializer.

I think we can fix both of this issues by implementing by ourselves key serializer / un-seri

[2016-04-17 17:20] komamitsu commented on #313
Yeah, also com.fasterxml.jackson.core.SerializableString seems important. I hope I have time to handle the issue this week...

[2016-04-19 16:11] komamitsu commented on #313
@marenzo
I added some changes to jackson-dataformat-msgpack to support non-string key. https://github.com/msgpack/msgpack-java/pull/361

You can use this feature with adding `@JsonSerialize(keyUsing = MessagePackKeySerializer.class)` annotation like https://github.com/msgpack/msgpack-java/blob/develop/msgpack-jackson/src/test/java/org/msgpack/jackson/dataformat/MessagePackGeneratorTest.java#L490-L

[2016-04-20 17:39] marenzo commented on #313
Nice! my other tests are now passing, but the one I've provided (in my comment above) is still failing, but now on new exception:

[code]

When I'm having a map with a primitive as a key, works well. But when I'm having a map with a pojo key, it fails. But from this exception it looks like its failing because of some core issue.

[2016-04-25 02:08] easternHong opened #365 "i got a very wierd problem."
`Caused by: java.lang.IncompatibleClassChangeError: Couldn't find org.msgpack.annotation.Index.value
at libcore.reflect.AnnotationAccess.toAnnotationInstance(AnnotationAccess.java:659)
at libcore.reflect.AnnotationAccess.toAnnotationInstance(AnnotationAccess.java:641)
at libcore.reflect.AnnotationAccess.getDeclaredAnnotation(AnnotationAccess.java:170)
at java.lang.reflect.Field.getAnnotation(Field

[2016-04-26 17:23] komamitsu commented on #313
@marenzo jackson-dataformat-msgpack supports POJO key in a map object with https://github.com/msgpack/msgpack-java/issues/364. Can you try it?

Here is an example https://github.com/msgpack/msgpack-java/blob/develop/msgpack-jackson/src/test/java/org/msgpack/jackson/dataformat/MessagePackGeneratorTest.java#L716-L734

[2016-04-27 15:32] sm0k opened #366 "Problem unserializing HashMap"
Hello, I'm trying to unzerialize the following class from an Android client:

[code]

class Character is as follow:

[code]

Unserializing works fine on classic java MessagePack implementation but fails on Android, using the same unserialization code, with the following error:

[code]

Thanks for your help.

[2016-04-27 22:00] #366 closed

[2016-04-29 03:20] komamitsu commented on #354
@PGDream Could you paste your code here that reproduces this error?

[2016-04-29 03:22] komamitsu commented on #365
@easternHong Could you paste your code here that reproduces the error?

[2016-04-29 09:26] easternHong commented on #365
sample like this
https://gist.github.com/easternHong/33d3f3153dea8e13f61998e7edb9d837

[2016-04-29 09:27] easternHong commented on #365
but some time it will be ok.

[2016-04-30 14:35] komamitsu commented on #365
Ah, libcore... Are you using MessagePack on Android? Which versions of the OS and msgpack-java?

[2016-04-30 14:41] komamitsu commented on #360
You don't need to instantiate MessagePack object in 0.8. Please see https://github.com/msgpack/msgpack-java/blob/develop/msgpack-core/src/test/java/org/msgpack/core/example/MessagePackExample.java

[2016-05-03 01:21] easternHong commented on #365
Android os 21+
msgpack 0.6.12

sorrry,i will update my local msgpack to 0.8.7 ,and keep feeding back .

[2016-05-03 01:27] easternHong commented on #365
Android os: 21+
msgpack:0.6.12

i get the jar from the site:
http://repo1.maven.org/maven2/org/msgpack/msgpack/0.6.12/

[2016-05-04 17:56] mtamassia commented on #360
How about an example of serializing a class without annotations?  We used to use .register but that's no longer there.

[2016-05-04 20:49] marenzo commented on #360
@mtamassia for pojos check out https://github.com/msgpack/msgpack-java/tree/develop/msgpack-jackson

[2016-05-04 21:25] marenzo commented on #313
@komamitsu sorry, but now I'm getting again the previous exception:

[code]

You're a bit cheating with tests on your latest commits since the serialization is does done via ObjectMapper, but you're de-serializing the byte array directly with MessageUnpacker :)

You can find my tests here: https://github.com/outbrain/ob1k/blob/msgpack_upgrd/ob1k-core/src/test/java/com/outbrain/ob1k/server/msgpack/

[2016-05-04 21:39] mtamassia commented on #360
Thanks @marenzo. Jackson is what I ended up using, but I was wondering if it can be done without adding yet another dependency.

[2016-05-05 09:07] komamitsu commented on #313
Well, I don't understand why you said "cheating" on the test (https://github.com/msgpack/msgpack-java/blob/develop/msgpack-jackson/src/test/java/org/msgpack/jackson/dataformat/MessagePackGeneratorTest.java#L716-L734). The test is definitely for complex type key serialization in v0.8 not for deserialization.

As for the previous test you pasted, I found the serialization of complex type key in v0.8

[2016-05-05 23:10] marenzo commented on #313
@komamitsu

It's possible. After reading those links:
http://wiki.fasterxml.com/JacksonFeatureModules http://wiki.fasterxml.com/JacksonHowToCustomDeserializers
I've basically created my own "MessagePackModule" with a Map deserializer implementation (extending StdDeserializer), and I was able to deserialize a Map where's the key was an entity (such as `Map<Pojo, String>`)

But, after I wrote the co

[2016-05-06 06:04] komamitsu commented on #313
@marenzo
[code]
Cool. Can I see it somewhere?

[2016-05-06 17:09] behrad opened #369 "MapValue to org.jon.JSONObject"
I have a msgpack encoded JSON with msgpack in another languages. In java I'm getting the MapValue via msgpack-java, however I need to convert it to `org.json.JSONObject` since keys are not statically known.

[2016-05-06 17:42] xerial commented on #125
Now that the default configuration has changed to the replace mode, we no longer need this.

[2016-05-06 17:42] #125 closed

[2016-05-06 20:48] marenzo commented on #313
@komamitsu sure. https://github.com/marenzo/msgpack-java/commit/d28f70cb34a2f2f8bc8d78c496e544b42190014d

the code isn't very polished or optimized, and I'm using directly objectMapper inside the deserializer as I'm not familiar enough with Jackson / MessagePackParser / etc, I've tried with this code to see if it's even possible to do such thing.

[2016-05-21 00:54] 466977183 commented on #360
Thanks @marenzo .

[2016-05-25 21:22] dustedrob commented on #360
Thanks @marenzo I spent the entire day trying to find the POJO serialization example. The code snippet at http://msgpack.org/ should be updated as it refers to an older version . Is there any reason why no one has done it yet? Can i volunteer to modify it?

[2016-05-26 10:04] johann-petrak opened #370 "Make latest version available in Maven Central?"
The latest release here on GitHub is 0.8.7, but the latest release available through Maven Central is 0.6.12. Is there any reason why more recent versions are not available through Maven Central?

[2016-05-26 10:22] johann-petrak commented on #370
Oh, it turns out this is available already:
  http://search.maven.org/#search%7Cga%7C1%7Cjackson-dataformat-msgpack
However, the link to Maven central in the QuickStart Wiki page links to here
  http://repo1.maven.org/maven2/org/msgpack/msgpack/
Maybe it should link to
  http://repo1.maven.org/maven2/org/msgpack/jackson-dataformat-msgpack/
instead?

[2016-05-26 10:22] johann-petrak commented on #370
(and also the example Maven dependency code get updated?)

[2016-05-27 01:06] xerial commented on #370
Thanks for reporting. The quick start page was forgotten to update. I'll delete this. Thanks

[2016-06-03 00:45] #370 closed

[2016-06-20 14:30] Romanow opened #371 "Unexpected UTF-8 encoder state"
In org.msgpack:jackson-dataformat-msgpack:0.8.7 method MessagePacker::packString throw `IllegalArgumentException("Unexpected UTF-8 encoder state")` (line number 560).
In happens when string to encode less 2^16 and encoded string is greater then 2^16. In condition `written >= (1 << 32)` variable `written` has type `int` and condition `1 << 32` evaluates to 1 because 1 is `long` and there are type o

[2016-07-08 12:49] komamitsu commented on #369
I'm not sure I understand correctly, but it sounds you can get keys from MapValue like this.
[code]

[2016-07-08 13:09] komamitsu commented on #371
@Romanow Sorry for my late reply. Could you show me a reproducible code?

[2016-07-08 13:14] komamitsu commented on #365
@easternHong
Oh, you executed the codes from JNI? > `and this is invoked from native layer`
I failed to reproduce this issue but I didn't try with calling from JNI...

[2016-07-15 16:46] fbacchella commented on #148
This link now return a 404

[2016-07-20 18:29] frsyuki commented on #371
#375 fixes this issue.

[2016-07-30 20:53] okumin commented on #92
Do you have a plan to release this feature?

I'm developing a library that consumes msgpack streams(Fluentd's forward requests) but I have noticed that `ChannelBufferInput` doesn't work well on non-blocking IO.
I want [stream deserializer](http://frsyuki.hatenablog.com/entry/20100324/p1) too much……

[2016-08-04 10:22] LeonKarabchevsky opened #379 "Pack JsonObject Android"
I have a JsonObject that contains several JsonArrays:
{
    "key1" : [[1, 2, 3, 4]],
    "key2" : [[1, 2, 3, 4]]
}
I would like to pack it using MessagePack without using the JsonObjects string representation,
Is it possible ?

[2016-08-07 09:00] komamitsu commented on #379
You mean org.json.simple.JSONObject by `JsonObject `. If so, how about like this?
[code]

[2016-08-07 10:09] #371 closed

[2016-08-12 01:44] zhouxinyu opened #382 "Why doesn't MessagePack.read() support ParameterizedType?"
When I convert List<String> to a Type(ParameterizedType), I found there is no read method can accept a  ParameterizedType. Is there any solution? or is there a convenient solution to convert ParameterizedType to Template?

[2016-08-12 18:31] xerial opened #385 "Fix msgpack.org.md"
It still shows the usage for older versions...

[2016-09-01 07:46] LeonKarabchevsky opened #386 "MessageInsufficientBufferException"
im trying to unpack data using:
 MessageUnpacker unpacker = MessagePack.newDefaultUnpacker(data);
 String data = unpacker.unpackValue().toJson();
 unpacker.close();

This randomly throws a MessageInsufficientBufferException even though the buffer size is much greater them the data length
What could be the issue ?

[2016-09-06 17:02] xerial commented on #386
One of the possibilities is:
- `data` may contain invalid data that doesn't follow msgpack spec (e.g., too long string/array/map length is specified, but the buffer size is smaller than that)

[2016-09-23 20:35] FullyArticulate opened #390 "Jackson silently re-types Integer Map keys"
`
Map<Integer,Object> map
`
gets silently encoded as
`
Map<String,Object> map
`

Because JSON doesn't allow map keys to be anything but Strings (and Jackon is fundamentally just a JSON encoder with this msgpack stuff hacked on), Jackson silently replaces the integer key with a string and it gets encoded that way in msgpack. Aside from the waste of space encoding a string instead of a simple int, i

[2016-09-23 22:21] xerial commented on #351
Let me close this ticket since there has been no activity.

[2016-09-23 22:21] #351 closed

[2016-09-24 09:39] komamitsu commented on #390
@FullyArticulate
You can use `MessagePackSerializerFactory` in this case like this
[code]
[code]

[2016-09-30 11:05] dbrgn opened #391 "packer.writePayload(msg) results in NullPointerException"
Hi

Is this a bug or intended behavior?

[code]

This results in:

[code]

I simply want to write raw msgpack bytes to a packer, without any previous header. The bytes already contain the map header.

[2016-09-30 21:53] xerial commented on #391
Thanks for reporting. This must be a bug. I'll fix it.

[2016-09-30 22:04] #391 closed

[2016-09-30 22:07] xerial commented on #391
Fixed in msgpack-core 0.8.11.

[2016-10-03 06:35] dbrgn opened #394 "Publish Checksums"
In many Java projects, I'm using [gradle witness](https://github.com/WhisperSystems/gradle-witness) to keep a list of checksums of all dependencies. This makes sure that when building a project on a different machine, I can be sure to get the exact same version of the dependencies.

It would be nice if you could publish SHA256 sums of the released versions files somewhere. It's as simple as execut

[2016-10-03 22:19] xerial commented on #394
So does it mean having sha1 on Maven central is not enough to protect MITM? If so, having sha256 on README.md is good enough for your use case?

[2016-10-04 07:27] dbrgn commented on #394
I'm using jcenter (bintray) instead of maven central, so I wasn't aware of published SHA1 sums, but in both cases I have to "trust-on-first-use". By publishing the SHA256 sum (this is what gradle witness uses) in the README, you add a second channel separate from the maven central / jcenter website that can be used for verification :)

Of course GPG would be even better, but it's more effort. Chec

[2016-10-04 12:10] dbrgn commented on #391
Thanks for the fast fix, works great now!

[2016-10-14 03:32] bruceleexiaokan opened #395 "Missing capacity check for addPayload in MessagePacker"
There's no capacity check in addPayload method. So when the payload size is larger than buffer size, it won't be able to resize the buffer to make sure the capacity.

[2016-10-19 06:45] shanielh opened #397 "Add method for packing CharSequence"
Hey!

Great library,
I would like you to add a method to the packer that knows how to pack `CharSequence` (almost the same as string) and use it in the "Templates" when it's able to.

Would you like me to do a pull request? If so - Please let me know where to start.

[2016-10-22 07:50] Chad- opened #398 "Better Deserialization of Extension Types with Jackson"
If you do a `readTree` that contains an extension type, the resulting tree will look something like (for example) `[1, 2, [MessagePackExtensionType, MessagePackExtensionType']`. In order to make this tree usable you need to traverse the whole tree converting any `MessagePackExtensionType` object to the real object type. It would be much better if reading the tree instead resulted in `[1, 2, [RealC

[2016-10-23 13:35] fwensen opened #399 "What's wrong with this: msgpack cannot serialize generic class ?"
this is my interface:
`public interface Serializer {

[code]

}`
and the msgpack impl:
`public class MsgPackSerializer implements Serializer{

[code]

}`
the Message:
`@Message
public class TestObj {

[code]

}`

but when i test it:
`public class TestMsgPackSerializer {

[code]

}`
and it give me the following message:
`十月 23, 2016 9:26:11 下午 org.msgpack.template.builder.BuildContext build
严重: bui

[2016-11-01 20:27] omarhaq opened #400 "perl message send to redis and unpackable by java"
I have packed a message using perl msgpack and sent it to a redis channel. I am trying to unpack it using java message pack with jedis. I'm not having much success and the unpacker is only seeing an Integer object. Is this impossible?
[code]
Java:
[code]
Only unpacker.unpackInt() returns a value and its -17. I am able to subscribe to the channel using python and using the python messagepack librar

[2016-12-07 11:30] philiad opened #403 "What is your License information about this software?"
There is LICENSE.TXT file, and it says you use Apache License 2.0
But there are not any copyright years, and name of copyright owner.

I want to use this s/w but I don't know your information.

For example: google-gson (last paragraph)
https://github.com/google/gson

Usually they have year(s), name of copyright owner.

Of course I know who you are, and when the project is going on,
but I can't wri

[2016-12-13 22:53] #403 closed

[2016-12-19 10:55] dmitrychistyakov opened #405 "java.lang.IllegalArgumentException: Bad position on Android 4.x"
simple packString causes exception on Android 4.x, Android 5.x and later works fine (MsgPack 0.8.11)

[code]
Exception stackTrace:
[code]

[2016-12-29 01:42] clarkdo commented on #398
+1

[2016-12-29 23:02] paddybyers opened #406 "Long strings are truncated on packing on Android 4.x"
The code below is an Android app that packs and then unpacks a map containing a single String member (`"data"`). On Android 4.4.2 this member is truncated when packing if it is 512 characters or longer; 511 or fewer and it works fine.

The problem does not occur on Android 5.x or 6.x.

[code]

[2017-01-03 02:11] komamitsu commented on #400
@omarhaq
MessagePack is a binary format and should be handled as a byte array. So the String `message` in `onMessage()` would be converted unexpectedly and you can't handle it properly, I guess.

[2017-01-03 04:52] komamitsu commented on #405
@dmitrychistyakov Thanks for reporting the issue. I reproduced it and will look into it.

[2017-01-03 13:03] komamitsu commented on #405
The following code that doesn't use MessagePack API sets ByteBuffer's position to wrong position right after calling `CharsetEncoder#encode()` and finally throws an exception when calling `CharsetEncoder#flush` with Android 4.4 (Kitkat).

[code]

It seems this issue is a Kitkat's bug that's related to https://android.googlesource.com/platform/libcore/+/91bb19d2ef9822cfb50fd1191cdb3ee06e2939b9%5E%2

[2017-01-03 13:51] komamitsu commented on #406
@paddybyers Thanks for the report.

I think `CharsetEncoderICU#encode` and/or `CharsetEncoderICU#flush` in Android 4 (Kitkat) has a bug (See https://github.com/msgpack/msgpack-java/issues/405#issuecomment-270109748 for details.)

Can you try this workaround?
[code]

[2017-01-03 14:18] komamitsu commented on #399
@fwensen Sorry for my late reply. You need to remove `final` keyword from the instance variables of TestObj and make them public or add setter methods.

[2017-01-03 14:34] komamitsu commented on #395
@bruceleexiaokan
`MessagePacker#addPayload` checks the remaining size and so on https://github.com/msgpack/msgpack-java/blob/develop/msgpack-core/src/main/java/org/msgpack/core/MessagePacker.java#L1007.

[code]

In this case, MessagePacker flushes data in `buffer` and then writes data passed as an argument to output stream or something directly.

[2017-01-03 15:18] fwensen commented on #399
thanks

2017-01-03 22:18 GMT+08:00 Mitsunori Komatsu <notifications@github.com>:

[2017-01-03 19:35] paddybyers commented on #406
Yes, the test passes with that change.

[2017-01-06 11:39] mattheworiordan commented on #406
Out of interest, if that change works, is there an easy fix to this library that can be made to more broadly address the problem or is the recommendation to use that workaround for now?

[2017-01-06 12:09] komamitsu commented on #354
I'm closing this issue. If you still have this issue, please reopen it.

[2017-01-06 12:09] #354 closed

[2017-01-06 12:10] komamitsu commented on #365
I'm closing this issue for now. If you still have this issue, please reopen it.

[2017-01-06 12:10] #365 closed

[2017-01-06 12:10] komamitsu commented on #369
I'm closing this issue for now. If you still have this issue, please reopen it.

[2017-01-06 12:10] #369 closed

[2017-01-06 12:11] komamitsu commented on #379
I'm closing this issue for now. If you still have this issue, please reopen it.

[2017-01-06 12:11] #379 closed

[2017-01-06 12:11] komamitsu commented on #386
Closing this issue for now. If you still have this issue, please reopen it.

[2017-01-06 12:11] #386 closed

[2017-01-06 12:11] komamitsu commented on #390
Closing this issue for now. If you still have this issue, please reopen it.

[2017-01-06 12:11] #390 closed

[2017-01-06 12:12] komamitsu commented on #395
Closing this issue for now. If you still have this issue, please reopen it.

[2017-01-06 12:12] #395 closed

[2017-01-06 12:12] komamitsu commented on #399
Closing this issue for now. If you still have this issue, please reopen it.

[2017-01-06 12:12] #399 closed

[2017-01-10 04:10] frsyuki commented on #406
For ease of use, MessagePacker would need additional workaround for Android. Like this:

[code]

[2017-01-19 17:06] komamitsu commented on #398
@Chad- @clarkdo  Does this feature satisfy your request? https://github.com/msgpack/msgpack-java/pull/408/files#diff-da72e095f423bf63a2b05b8196b564dfR720

[code]

[2017-01-25 04:07] komamitsu commented on #398
Merged the above feature. I hope it solves this request.

[2017-01-25 04:07] #398 closed

[2017-01-25 04:08] komamitsu commented on #406
https://github.com/msgpack/msgpack-java/pull/409 takes care of this issue.

[2017-01-25 04:08] #406 closed

[2017-01-25 04:08] komamitsu commented on #405
https://github.com/msgpack/msgpack-java/pull/409 takes care of this issue.

[2017-01-25 04:08] #405 closed

[2017-01-25 04:10] komamitsu commented on #400
Closing this issue. Please reopen if you still have the issue.

[2017-01-25 04:10] #400 closed

[2017-01-25 06:05] clarkdo commented on #398
@komamitsu thanks. It should be helpful.

[2017-02-08 02:43] hoswey commented on #360
+1, I spend 2 hour siting front the desk to find out a compilable demo. Can I create a PR

[2017-02-17 20:11] omarhaq commented on #400
Sorry for the delay. So I got the unpacking to work more or less. I am having trouble with unpacking the compressed binary message. I lose the first line of my message after I decompress.

[2017-02-17 21:40] DGolubets opened #411 "MessageBuffer.allocate and reflection"
Is it really necessary?
Cos it looks very slow in profiler.

[2017-02-18 00:45] xerial commented on #411
Yes. This is necessary to avoid loading any sub classes extending MessageBuffer (e.g., MessageBufferBE).  If we have multiple implementations of MessageBuffer methods, each method call (e.g., readInt, xxx) will have overhead for resolving the concrete methods.

For example, simply importing MessageBufferBE in the class header will slow down the performance.

[2017-02-18 00:47] xerial commented on #411
Compared to MessageBuffer.allocate, calling MessageBuffer.read/writeXXX is much more frequent. So this is a design choice.

[2017-02-21 18:23] #411 closed

[2017-03-01 21:57] frsyuki opened #412 "Writing null instead of throwing exception when serializing too big integer"
`MessagePacker#packBigInteger(BigInteger)` throws `IllegalArgumentException` if given integer is bigger than maximum value of uint64 or smaller than minimum value of int64. This behavior itself is OK but error handling is difficult when I want to convert a nested JSON to MessagePack.

In my use case, I want to keep most of regular fields in the JSON while setting null to the invalid too big intege

[2017-03-01 22:00] frsyuki commented on #412
A solution is adding an error handler to PackerConfig and MessagePacker calls it with the BigInteger and MessagePacker instance. The default handler will throw IllegalArgumentException. Users may set other handlers that write NULL instead and show logs, or throw other exceptions.

Another approach is adding a flag instead of handler to PackerConfig. Flag is an enum which can be EXCEPTION or NULL.

[2017-03-01 22:02] frsyuki commented on #412
[code]

[2017-03-02 20:36] xerial commented on #412
- Using void return type for the handler is ok since it will be called inside MessagePacker
- Using lambda notation is a concern since MessagePack is still built for Java7.
- IllegalBigIntegerHandler -> IntegerOverflowHandler might be a better naming to make clear how illegal the value is.

[2017-03-02 20:41] xerial commented on #412
And also we should provide three types of handlers:
 - REPORT_ERROR (default)
 - CONVERT_TO_NULL (your approach)
 - CONVERT_TO_STRING (use a string representation of the big integer value)

[2017-03-11 09:02] kspham opened #413 "@Message before class can not compile"
Hi,
I followed the doc of msgpack-java here: https://gist.github.com/thiagozs/6699612 and defined my message:
     @Message //Annotation
     public static class MyMessage
     {
         public String name;
         public double version;
     }

but seems that this Annotation is not supported?

This is the compile error:
[error] /Users/son/code/msgpack-java/msgpack-core/src/test/java/org/msgpack

[2017-03-13 02:49] mobilefirstlink opened #414 "org.msgpack.MessageTypeException: Expected array, but got integer value"
<dependency>
    <groupId>org.msgpack</groupId>
     <artifactId>msgpack</artifactId>
     <version>0.6.12</version>
</dependency>

Demo:

import java.util.List;

import org.apache.commons.lang3.builder.ToStringBuilder;
import org.msgpack.annotation.Message;

@Message
public class WebJsonDataDO {
	private String url;

	private String currency;

	private List<String> images;

	private String variat

[2017-03-13 05:48] xuwei-k opened #416 "test Java 9 in travis-ci"
depends on https://github.com/xerial/sbt-jcheckstyle/issues/3

[2017-03-13 05:54] xuwei-k commented on #416
https://github.com/msgpack/msgpack-java/pull/415

[2017-03-15 01:55] komamitsu commented on #413
`@Message` is available in v0.6 or earlier.

Current version doesn't support it. Instead you can use Jackson annotation. https://github.com/msgpack/msgpack-java/tree/develop/msgpack-jackson

[2017-03-28 11:19] subliz opened #417 "Cross Platform Usage Problem"
I am using msgPack (https://github.com/deniszykov/msgpack-unity3d/tree/master/GameDevWare.Serialization.Unity/Assets/Plugins/GameDevWare.Serialization) in unity with .Net for online game and serialize objects to send over the net to back-end server application which developed in java, and I pack this class for example :

    public class MsgPackTestClass  {

        public int stringManipulationFo

[2017-03-30 06:42] PriyankaKamthe opened #418 "org.msgpack.MessageTypeException: Expected raw value, but got boolean"
I have successfully implemented msgPack in Android Application. But I am facing issue `Expected raw value, but got boolean` when I runs application in Device with API level below 22. If I run same application in Device  which having API level above 22 everything works fine. I am not able to find-out whats going wrong.
I am using Dependency `org.msgpack:msgpack:0.6.12`
Following is my deserializing

[2017-03-30 09:51] PriyankaKamthe commented on #418
This [answer](https://github.com/msgpack/msgpack-java/issues/98) solved my issue.

[2017-03-31 08:14] komamitsu commented on #417
The encoded byte arrays can be deserialized with MessagePack Ruby implementation as follows

* MessagePack data serialized with C# implementation (the first one)
[code]

*  MessagePack data serialized with Java implementation (the second one)
[code]

It looks like MessagePack C# doesn't encode 255 and 65537 correctly.

[2017-04-18 10:39] #417 closed

[2017-04-24 04:15] komamitsu commented on #418
I'm closing this issue. If you still have any problem, please reopen it.

[2017-04-24 04:15] #418 closed

[2017-04-24 04:25] komamitsu commented on #414
`bytes` in your codes is just a byte array of JSON string not MessagePack format data. Of course, MessagePack#read reads only MessagePack format not JSON format.

[2017-05-11 06:33] komamitsu opened #421 "jackson-dataformat-msgpack can't handle numbers as String type"
I found this code fails while it works with replacing `new ObjectMapper(new MessagePackFactory())` with `new ObjectMapper()`.

[code]

[2017-05-15 05:50] #421 closed

[2017-05-23 09:48] #416 closed

[2017-06-14 12:44] abhisheksahani192 opened #424 "Compilation error while running load test of 100000 serialization"
after running for 52000 iteration i am getting compilation error while serializing POJO.

Jun 14, 2017 6:05:30 PM org.msgpack.template.builder.BuildContext build
SEVERE: builder:
{
  if (!$3 && $1.trySkipNil()) {
    return null;
  }
  com.games24x7.snappytest.Message _$$_t;
  if ($2 == null) {
    _$$_t = new com.games24x7.snappytest.Message();
  } else {
    _$$_t = (com.games24x7.snappytest.Mes

[2017-06-14 14:19] abhisheksahani192 commented on #424
my json has embedded json in that case above exception is coming , if i remove embedded json then there is no compilation error of duplicate class

[2017-06-18 15:25] #413 closed

[2017-06-18 15:42] #414 closed

[2017-06-18 15:50] komamitsu commented on #424
@abhisheksahani192 Can you give an example that reproduces the error?

[2017-06-20 08:36] isopov opened #426 "ChannelBufferInput blocks until full buffer is read"
Please take a look at this sample:
[code]

This sample accepts incoming connection, writes 200 bytes to it and waits indefinitely. Consuming first 128 (that is from my real use case - after establishing connection I need to read servers hello message with fixed size of 128 bytes) via MessageUnpacker created via socket InputStream handles this case just fine, however via SocketCnahhel it blocks.

C

[2017-06-20 10:18] gaja6413 opened #427 "Not able to write and read HashMap<Integer, ArrayList<customClass>> in messagePack format"

[2017-06-22 15:53] komamitsu commented on #426
@isopov Thanks for the reporting.

It seems a bug of `ChannelBufferInput#next`. I'll handle it at https://github.com/msgpack/msgpack-java/pull/428.
We need to write more tests of `ChannelBufferInput` and so on...

[2017-07-11 23:57] komamitsu commented on #426
https://github.com/msgpack/msgpack-java/issues/428 is merged

[2017-07-11 23:57] #426 closed

[2017-07-12 15:23] komamitsu commented on #427
@gaja6413 Sorry for my late reply.

Does this example answer your question? I have no idea of the details since there was no description in the comment, though.
[code]

[2017-07-17 09:40] #424 closed

[2017-07-17 09:42] komamitsu commented on #424
I'm closing this issue. If you still have a trouble on this issue, please re-open.

[2017-08-21 06:31] leewcc opened #432 "unpack question"
There is a issue that i use the messagePack pack a object(javabean) to byte array and store it. After that, i want to unpack this byte array,but i do not know the object type,can i unpack it to string(like json string) for show. If can, how should i do?

[2017-09-25 06:29] yinhaibo opened #433 "msgpack take 100% cpu usage"
I have used msgpack-java in my program. The cpu usage will up to 100%, and cannot go down. I check all my thread, and using jstack to output thread stack.
All busy thread are stop in msgpack calling.
What's happend? I need help, thank all of us.

This is a thread stack, and serveral threads all stop here:getDeclaredConstructors0
[code]

I use @Message annotation to pack mssage.
and java object con

[2017-10-08 18:55] xerial commented on #433
@yinhaibo Unfortunately we now longer support msgpack v6. Consider using msgpack 0.8.x

[2017-10-10 06:26] iraj-wisilica opened #434 "Android: How to convert message pack binary data into readable JSON string?"
I already have JSON parsing module and works fine. Recently my back end team added support for message pack. So I am planning to convert the message pack data into JSON string so that I can keep the existing parsing logic.

Message Pack response from PHP back end.

![response](https://user-images.githubusercontent.com/9783653/31597696-6c7422e0-b267-11e7-9109-d0c8bfe3241e.PNG)

The unpacker produce

[2017-10-16 06:39] iraj-wisilica commented on #51
Any update on this issue? I am also struck on this.

[2017-10-16 06:50] iraj-wisilica commented on #434
Gentle reminder.

[2017-10-16 14:34] komamitsu commented on #51
Why don't you use msgpack-java v0.8? It can convert a MessagePack map value to POJO.
Also, unfortunately we no longer support msgpack v0.6.

[2017-10-16 15:10] komamitsu commented on #432
@leewcc Sorry. I missed this issue...

If you don't know the type of packed byte array, it's not easy to convert it to a POJO / JavaBean. But you can handle it as a org.msgpack.value.Value like this.

[code]

[2017-10-16 15:12] #427 closed

[2017-10-16 15:28] komamitsu commented on #434
These examples might help https://github.com/msgpack/msgpack-java/tree/develop/msgpack-jackson#usage

I have no idea about what problem you're facing now.
You've already unpacked the MessagePack format byte array in Java that was packed by PHP and you're struggling to convert the Java object to JSON?

[2017-10-17 04:40] iraj-wisilica commented on #434
Thanks for the reply. I am struggling to convert MessagePack byte array into JSON.

[2017-10-17 04:52] komamitsu commented on #434
You can't convert MessagePack byte array into JSON directly. The following steps are needed.

1. Deserialize (Unpack) MessagePack byte array to a Java object
2. Serialize (Pack) the Java object to JSON format string

So I was interested in which step you're facing now.

[2017-10-17 04:56] iraj-wisilica commented on #434
I am struck in #1.  The POJO java object is dynamic so I can't map it to a static POJO class. I just want a JSON string from MessagePack byte array. Please provide me some code snippet.

[2017-10-17 05:13] komamitsu commented on #434
If the schema of the object is dynamic, you'd better handle it as java.util.Map or org.msgpack.value.MapValue.
This is an example snippet although you may get the way from the usage I mentioned above

Ruby
[code]

Java
[code]

[code]

[2017-10-17 05:14] iraj-wisilica commented on #434
Finally I fixed it using the below snippet. Thanks komamitsu for your time.

        MessageUnpacker unpacker = null;
        try {
            byte[] formattedBytes = Arrays.copyOfRange(responseBytes, 4, responseBytes.length); /* This line saved my life. I had to remove new line characters because my backend was always appending 4 junk new line bytes with the MessagePack byte array. */

[2017-10-17 05:54] komamitsu commented on #434
🎉
Yeah, using JsonNode would be smarter.

[2017-10-17 06:51] iraj-wisilica commented on #434
Thank You.

[2017-10-17 11:57] #434 closed

[2017-11-07 05:17] lvc opened #440 "API changes report for MessagePack Core"
Hi,

I'd like to share report on API changes and backward compatibility for the MessagePack Core library: https://abi-laboratory.pro/java/tracker/timeline/msgpack-core/

BC — binary compatibility
SC — source compatibility

The report is generated according to the article https://wiki.eclipse.org/Evolving_Java-based_APIs_2 by the https://github.com/lvc/japi-tracker tool.

Hope it will be helpful fo

[2017-11-12 06:11] suxg003 opened #441 "Branching problem？"
Excuse me why is development branch, the master  branch still stay in three years ago?

[2017-11-22 02:12] helloyokoy commented on #318
/**
 * Representation of MessagePack's Float type.
 *
 * MessagePack's Float type can represent IEEE 754 double precision floating point numbers including NaN and infinity. This is same with Java's {@code double} type.
 *
 * @see org.msgpack.value.NumberValue
 */

[2017-11-22 12:57] yulrizka opened #442 "Question: unpacking message with multiple item"
I'm trying to decode data that was generated with go. The payload that contain 2 events

[code]

If I understand correctly, the result in the buffer are result for the 2nd message appended to the first.

How to read this in java with jackson? I manage to read the first message but don't know how to retrieve the second.

[code]

got this error
[code]

[2017-11-27 15:59] komamitsu commented on #442
@yulrizka Can you give me the error message?

BTW, `objectMapper.configure(JsonParser.Feature.AUTO_CLOSE_SOURCE, false)` might solve the issue.

https://github.com/msgpack/msgpack-java/blob/develop/msgpack-jackson/src/test/java/org/msgpack/jackson/dataformat/MessagePackParserTest.java#L452-L454

[2017-11-27 17:25] yulrizka commented on #442
@komamitsu I mentioned the error message above. I'll try the configuration tomorrow

[2017-11-27 17:51] komamitsu commented on #442
Oops. I missed it...

If the configuration doesn't work, paste the bytes and `Event` class.

[2017-11-28 13:59] komamitsu commented on #432
Closing this issue. Feel free to reopen it if needed.

[2017-11-28 13:59] #432 closed

[2017-11-30 23:23] xerial commented on #440
snapshot is also available at https://oss.sonatype.org/content/repositories/snapshots/org/msgpack/msgpack-core/
but currently we are not frequently using snapshot versions.

Thanks!

[2017-11-30 23:23] #440 closed

[2017-11-30 23:27] xerial commented on #397
Hi. Message pack Strings need to be UTF-8. Conversion from CharSequence to UTF8 will add a complexity to the code, so If you can already have byte[] of your CharSequence implementation, I'd recommend to use addPayload() method, etc. For doing I think `packStringHeader(byte size)` method needs to be added.

[2017-12-04 08:11] zeroxychn opened #447 "java.lang.LinkageError: loader (instance of sun/misc/Launcher$AppClassLoader): attempted duplicate class definition for name: XXX"
I have a problem for msgpack. When my program running, sometime it throw the exception:

[code]
So i write some codes for test. I found if run serialization method  circularly, it will throw exception  regularly.  There is my test code:
The Pojo Class:
[code]
And The Main Method:
[code]

I use the version 0.6.12(0.6.11). I want to use the new version 0,8.x also , but there are so many running-code

[2017-12-08 10:24] wendy260310 opened #448 "MessageTypeException: Expect float ,but got raw value."
I have a class A ，it's super class B is annotated with @Message. Redis stores old serialized A.I modify class A's definition  and add a private filed m typed Float. When I read from Redis and  deserialize new A from the old data , exception throws. Stack blows

org.msgpack.MessageTypeException: org.msgpack.MessageTypeException: Expect float ,but got raw value.

at org.msgpack.template.builder.Defa

[2017-12-08 11:37] wendy260310 commented on #448
I found that because of the field order, I put the added field to the tail of the class and the problem gone

[2017-12-11 19:56] lmarburger commented on #313
I'm stopping by to say a huge **THANK YOU** to everyone who made `str8FormatSupport` possible. I'm in the process of upgrading from an old 0.6 to latest 0.8 across multiple components in our service and this will make my life so much easier.

![thank you](https://user-images.githubusercontent.com/23582/33850026-81151e12-de80-11e7-946b-83d63d529755.gif)

[2017-12-14 05:50] zeroxychn opened #449 "Compatibility Problem with jackson-dataformat-msgpack and msgpack v6"
I  upgrade my  codes from v0.6.12 to v0.8.14. for some reason, i must compatible for java pojo pack data from msgpack-v6, so i use jackson-dataformat-msgpack to deserialize  the data. but when I use jackson-dataformat-msgpack V0.8.14 to deserialize from msgpack v6 pack data, I meet  compatibility problem.
Ps.  If the array length is more than 31, msgpack-v0.6.12 will pack the bin array to STR16  f

[2017-12-15 01:20] zeroxychn commented on #447
please close this issue. i decide to upgrade my code to v0.8, thanks for read. @xerial

[2017-12-15 06:52] xerial commented on #447
@zeroxychn Good. Thanks for upgrading to the latest version.

[2017-12-15 06:52] #447 closed

[2017-12-18 16:25] komamitsu commented on #449
@zeroxychn Thanks for reporting this issue. This is interesting... I'll look into it later.

[2017-12-19 15:32] komamitsu commented on #449
The byte array includes non-printable values. And the type is `str` not `bin`. So jackson-dataformat-msgpack converts the byte array to a string somehow and then it's converted to a byte array. But, in Java, those characters are represented in multiple bytes.
[code]
This is what happened in jackson-dataformat-msgpack. So byte arrays should be serialized as `bin` type.

[2017-12-21 03:09] zeroxychn commented on #449
@komamitsu, Thank for answering. so  jackson-dataformat-msgpack  v.8 is not  compatible with msgpack v6  completely when pojo class has byte array field.  Does this problem can only  be solved by upgrade my client from msgpack v6 to v8?

[2017-12-21 08:25] nanou06 opened #451 "MessagePack()' has private access in 'org.msgpack.core.MessagePack"
i want to use msgpack for Android, on my gradle i added this line

but when i wont to instanciate a new object  i got this error

why the constructor is private ? i can't use msgPack for Android??

[2017-12-21 15:05] komamitsu commented on #451
You can create packer and unpacker with `MessagePack.newDefaultPacker()` and `MessagePack.newDefaultUnpacker()`.

[2017-12-21 16:16] nanou06 commented on #451
Can you give me a tutorial to use MessagePack for Android? thanks

[2017-12-21 18:18] xerial commented on #451
@nanou06 See https://github.com/msgpack/msgpack-java/blob/develop/msgpack-core/src/test/java/org/msgpack/core/example/MessagePackExample.java as an example.

[2017-12-22 08:38] nanou06 commented on #451
@xerial thanks !

[2017-12-22 18:16] #451 closed

[2017-12-26 10:44] #448 closed

[2018-01-16 10:51] yinhaibo commented on #433
I found this issue only occurred in using annotation method.

[2018-01-16 10:51] #433 closed

[2018-01-29 11:30] mrniko opened #453 "Implement MessagePackFactory.copy() method"
Hi!

MessagePackFactory should override copy method to avoid such exception during ObjectMapper.copy() method invocation:

java.lang.IllegalStateException: Failed copy(): org.msgpack.jackson.dataformat.MessagePackFactory (version: 2.9.4) does not override copy(); it has to
	at com.fasterxml.jackson.core.JsonFactory._checkInvalidCopy(JsonFactory.java:332)
	at com.fasterxml.jackson.core.JsonFactory.

[2018-01-29 17:57] xerial commented on #453
@komamitsu What do you think?

[2018-02-04 15:25] #453 closed

[2018-02-04 15:27] komamitsu commented on #453
@mrniko Thanks for reporting this issue. Fixed it at https://github.com/msgpack/msgpack-java/pull/454

[2018-02-12 11:51] isopov opened #458 "MessageBuffer.sliceAsByteBuffer() method has old values after MessageBufferPacker.clear()"
Consider the following code:
[code]

I expected it to print the same value 3 times, but its output is:

[code]

AFAIU there is a bug somewhere - in clear() implementation or somewhere else. I think it is in clear() because removing `flush()` produces the following output:

[code]

It seems that `clear()` has no effect at all in this case.

[2018-02-12 20:40] xerial commented on #458
@isopov Current MessagePacker interface is not designed for allow rewriting, because the buffer)(internally multiple buffers are used) might be already flushed out to the output target.

If you need to reuse buffer, MessagePacker.reset is the method for that:
https://static.javadoc.io/org.msgpack/msgpack-core/0.8.14/org/msgpack/core/MessagePacker.html#reset-org.msgpack.core.buffer.MessageBufferOut

[2018-02-19 02:20] JangCool opened #461 "Does msgpack lib support ibm jdk?"
hi..
This is a very important question. Does msgpack lib support ibm jdk?
If not support, how is it used?

[2018-02-20 08:52] deftsoftiphone opened #462 "c# serialized file not deserializing in java and vice versa"
I am serializing a file in C# code with code

           public class  WrapperEntry {
                  public WrapperEntry(){ }

                 public List<FileItem> ContentList { get; set; }
                 public string ContainerID { get; set; }
                 public string Version { get; set; }
           }

    public class  WrapperEntry2Serializer  : MessagePackSerializer<Guid>
    {

[2018-02-20 11:37] ajinabraham opened #463 "Using a component with Known Vulnerability Jackson Deserialize RCE (CVE-2017-7525)"
As per the file: https://github.com/msgpack/msgpack-java/blob/develop/build.sbt#L118
It looks like msgpack-java is using jackson-databind 2.7.1 which has a known security vulnerability CVE-2017-7525.
Ref: https://github.com/FasterXML/jackson-databind/issues/1599
Exploit: https://adamcaudill.com/2017/10/04/exploiting-jackson-rce-cve-2017-7525/
The issue is fixed in 2.8.10. Please update the library

[2018-02-20 14:40] komamitsu commented on #463
@ajinabraham Thanks for letting us know that.

jackson-databind 2.8.10 affects the serialization performance of jackson-dataformat-msgpack. So we chose 2.7.9.1 instead which addresses the security vulnerability as well.

[2018-02-20 15:05] ajinabraham commented on #463
@komamitsu Are you sure this is completely patched in 2.7.9.1.

The author says the fix is included in 2.7.9.3 and 2.7.9.2 but not in 2.7.9.1
https://github.com/FasterXML/jackson-databind/issues/1855#issuecomment-365093284

I couldn't find the complete fix in `2.7.9.1` as well. You can verify this by looking for https://github.com/FasterXML/jackson-databind/blob/2.9/src/main/java/com/fasterxml/jac

[2018-02-20 15:39] komamitsu commented on #463
Hmm.. I saw this comment https://github.com/FasterXML/jackson-databind/issues/1599#issuecomment-342983770.

But https://github.com/FasterXML/jackson-databind/issues/1855 and https://github.com/FasterXML/jackson-databind/issues/1899 were created after that. It's like whack-a-mole...

Okay. I'll look into it again tomorrow.

[2018-02-20 15:43] ajinabraham commented on #463
I agree, blacklist is not the right way. But it offers some level of defence. Again it's a security vs performance decision. Your call. :)

[2018-02-20 18:34] emilekm2142 opened #465 "Convert from org.json.JSONObject."
How can I convert `org.json.JSONObject` from android to message pack? My object is nested multiple times.

[2018-02-21 08:59] chintan-mishra opened #466 "Convert Array to ArrayValue"
How can I convert an Array to ArrayValue?

For instance

    String[] myStringArray = {"abc", "def", "ghi"}
    // now I want to pack it in MessageBufferPacker
    // I don't want to use a loop(really big array 200 elements) to read
    // each value followed by packString

    messageBufferPacker.packValue(myStringArray.asArrayValue)
    // This doesn't work.

What should I do?

[2018-02-21 17:19] xerial commented on #466
@chintan-mishra Try using https://static.javadoc.io/org.msgpack/msgpack-core/0.8.14/org/msgpack/value/ValueFactory.html

[code]

[2018-02-22 07:07] chintan-mishra commented on #466
I still have to iterate over a large number of elements.

[2018-02-22 17:23] xerial commented on #466
If that's the case, directly calling packArrayHeader(n), packString(x_1),..., packString(x_n) is better .

[2018-02-23 13:11] #463 closed

[2018-02-23 13:25] komamitsu commented on #462
Unfortunately, msgpack-java v0.6 serializes objects as a key-value list. Please use current msgpack-java that serializes objects as a map like msgpack-C#

[2018-02-23 13:25] #462 closed

[2018-02-23 13:48] komamitsu commented on #465
`com.fasterxml.jackson.databind.ObjectMapper` can serialize `org.json.JSONObject`. So you can convert `org.json.JSONObject` instances to MessagePack format like this

[code]

[2018-02-23 13:49] komamitsu commented on #449
I'm closing this issue. If you still have any problems, feel free to reopen it

[2018-02-23 13:49] #449 closed

[2018-02-23 13:51] komamitsu commented on #442
I'm closing this issue. If you still have any problems, feel free to reopen it

[2018-02-23 13:51] #442 closed

[2018-02-24 03:48] chintan-mishra commented on #466
I will make do with this for now.

[2018-02-26 16:25] #458 closed

[2018-03-30 11:55] chintan-mishra opened #469 "ProGuard rules for this library"
In an Android app, we are fetching MsgPack from our API. What are the recommended ProGuard rules to use with this library?

[2018-04-06 22:25] xerial commented on #469
We are not using ProGuard, so we don't have rules now.

What I can say is when renaming package, you will also need to rename package name strings here:
https://github.com/msgpack/msgpack-java/blob/1447f8fb2f720697ef0dab4371c52f75a64d51cc/msgpack-core/src/main/java/org/msgpack/core/buffer/MessageBuffer.java#L62-L64

Because msgpack-java uses reflection to load one of the MessageBuffer classes appr

[2018-04-07 11:29] chintan-mishra commented on #469
[code]

Based on my knowledge ProGuard rules mentioned above should suffice. I will test these when next release rolls out in 3 weeks.

[2018-04-13 03:12] kringol opened #470 "Copy operation fails with NPE on 0.8.15"
How to reproduce:
[code]
or just
[code]

Causes:
[code]

[2018-04-13 08:11] mrniko commented on #453
@komamitsu Hi! I'm afraid bug is not fixed completely https://github.com/redisson/redisson/issues/1314#issuecomment-380693283

[2018-04-14 05:12] komamitsu commented on #470
Ah, the test I wrote checked only the case that MessagePackFactory has `ExtensionTypeCustomDeserializers`...
https://github.com/msgpack/msgpack-java/blob/develop/msgpack-jackson/src/test/java/org/msgpack/jackson/dataformat/MessagePackFactoryTest.java#L69-L79

This can be a workaround. But anyway I'll fix it soon.
[code]

[2018-04-14 13:49] #470 closed

[2018-04-15 12:48] komamitsu commented on #470
@kringol @mrniko Released the fix with 0.8.16.

[2018-04-16 01:44] kringol commented on #470
Awesome, thanks @komamitsu
That was quick :)

[2018-04-16 07:05] mrniko commented on #453
@komamitsu

Thank you!

[2018-04-23 06:55] wennicky opened #474 "Got "java.lang.String cannot be cast to [B" when using messagePack.read();"
Hi,

I use messagePack.write(myCalss) and stored it to Redis.
Then I opened a terminal and by using Redis command "hget" I got a what I just stored in Redis. This is what I've got:
"\xac\xed\x00\x05ur\x00\x02[B\xac\xf3\x17\xf8\x06\bT\xe0\x02\x00\x00xp\x00\x00\x00A\x98\xaa8621161813\x00\xda\x00,mKHuEReeu7RYSxcdWFRMd+IE7FaskrViwxXdMdCUEKQ=\xc0\xc0\xc0\x00\x00"
Now I want to deserialization this by m

[2018-05-03 10:14] chintan-mishra commented on #469
An unexpected delay will need 2 weeks or so.

[2018-05-05 11:45] making opened #475 "Support non-blocking ("async") parsring"
Non-blocking parsing was introduced by Jackson 2.9
https://github.com/FasterXML/jackson-core/issues/57
Currently, JSON and Smile are supported.

It would be great for msgpack to support that to leverage [Spring WebFlux](https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html), [Reactive Streams](http://www.reactive-streams.org/) and hopefully [rsocket](http://rsocke

[2018-05-07 03:45] komamitsu commented on #475
@making That's interesting. Thanks for letting us know.
I'll take a look at it later.

[2018-05-17 01:49] xerial commented on #469
No worries. Take your time.

[2018-05-17 02:13] heliteng opened #476 "byte[] array unpack error"
**# java POJO**
`public class ReportHeadParam {

	private Integer messageType;
	private byte[] messageParam;

	public Integer getMessageType() {
		return messageType;
	}
	public void setMessageType(Integer messageType) {
		this.messageType = messageType;
	}
	public byte[] getMessageParam() {
		return messageParam;
	}
	public void setMessageParam(byte[] messageParam) {
		this.messageParam = message

[2018-05-17 02:35] komamitsu commented on #476
@heliteng

Could you give the followings?
- codes of MsgPackUtil.toObject
- actual values in byte array `s`

[2018-05-17 02:46] heliteng commented on #476
@komamitsu
# MsgPackUtil.java

`package com.comtop.dbaas.util;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.databind.JavaType;
import com.fasterxml.jackson.databind.ObjectMapper;
import org.msgpack.jackson.dataformat.*;

import java.io.IOException;
import java.util.ArrayList;
import java.util.List;

public class MsgPackUtil {
    private static ObjectMap

[2018-05-17 04:05] heliteng commented on #476
@komamitsu
I use msgpack-java version is 0.8.16 ,
which version msgpack-c match 0.8.16 ?

[2018-05-17 06:25] komamitsu commented on #476
I'm not sure if msgpack-c is compatible with msgpack-java:0.8.

This information would be helpful to know that.

[2018-07-12 07:36] loosbrecht opened #480 "Messagepack is not compressing the data?"
Hello,

I'm currently trying to use MessagePack to compress JSONObjects. I need to send these JSONObjects over the network but because they are pretty big I first want to compress them with MessagePack. The problem is that I don't see any compression happening.  It's possible that I don't use the correct code, but I would really like help to get this working.

I tried the online example on your si

[2018-08-02 21:02] gaohao commented on #480
I think you are not using it correctly. You need to pack each field of your json object. Right now you just packed the json str into one msgpack field.

[2018-08-07 07:00] loosbrecht commented on #480
Yes that could be the case that I'm not using it correctly. In our current implementation it isn't very easy to map every element of our json object in a seperate field because the structure isn't always the same.
This would also cost us a lot of work. Thinking about this it does sound logical to map every field seperately.

 I thought that a normal string would also be compressed with msgpack but

[2018-08-07 07:00] #480 closed

[2018-08-21 01:36] borice commented on #233
Leaving a comment for future Googlers looking for a solution to the auto-closed stream:
[code]

[2018-09-04 11:46] arnaudroger opened #482 "MessageBuffer unable to parse java.specification.version for java 10"
java.specification.version for java 10 is "10"
MessageBuffer is expecting a '.' and will then not use unsafe even if available
I suspect the same is true for 9 and 11.
a workaround is to override the property on the command line
[code]

[2018-09-09 00:12] Ben-Cutler opened #483 "Documentation doesn't explicitly explain what packInt / packByte / etc do"
I hit an issue a few days ago with the fact that the MessageBufferPacker's `packInt` method (and other pack methods ) pack a number to take as little space on the wire as possible (So your i32 could be serialized as a u16, a u8,i8, etc) . This caused an issue with another library that was type sensitive.

While this is a reasonable implementation, the documentation here
https://static.javadoc.io/o

[2018-09-12 14:42] deepakazad opened #484 "Add OSGi manifest to jar"
Could we please add OSGi manifest to the jar so that we can use the jar in an OSGi app.

On Maven Central (https://mvnrepository.com/artifact/org.msgpack/msgpack-core), version 0.8.13 is the latest version that's a bundle. Later versions are a plain jar.

This seems similar to https://github.com/msgpack/msgpack-java/issues/352.

[2018-09-16 12:28] thinkberg opened #485 "impossible to decode FIXSTR type using jackson"
I am receiving messages which have binary data encoded as FIXSTR. However, using the jackson-dataformat-msgpack lib, it is impossible to get to the raw data in it.

I did write a Deserializer for my data format, which works fine, except for this issue.

The decoding to String breaks the content. I think it would be helpful, if I could configure how to handle STR types even for the jackson MessageP

[2018-09-17 16:27] komamitsu commented on #485
I don't think it's a good idea to encode binary data as STR...

But I think you can handle binary data encoded as STR. This test case would help you

https://github.com/msgpack/msgpack-java/blob/51cf272f05dffdb4a2f606831f0acf1a98f88933/msgpack-jackson/src/test/java/org/msgpack/jackson/dataformat/MessagePackDataformatTestBase.java#L163-L167

https://github.com/msgpack/msgpack-java/blob/46de775c07c3

[2018-09-17 18:28] thinkberg commented on #485
The issue is that the other side codes any kind of binary data and it cannot be decoded as valid UTF-8. So if I could configure the parser to tell it I want the binaryValue to be directly returned instead of new String(bindata).getBytes("UTF-8") would be an awesome solution.

[2018-10-01 05:42] komamitsu commented on #485
Didn't my example code work? If not, can you paste your code to clarify your problem?

[2018-10-13 13:16] rmckinnon commented on #4
I modified the toObject method to address the "isMapValue" condition:

private static Object toObject(Value value) throws IOException {
        Converter conv = new Converter(value);
        if (value.isNilValue()) { // null
            return null;
        } else if (value.isRawValue()) { // byte[] or String or maybe Date?
            // deserialize value to String object
            RawValue v =

[2018-10-15 08:38] keyguansz commented on #469
sad，it does not work。
i modify like this，it works . (ubuntu14.04 mmm packages/app/settings) :

-keep class org.msgpack.core.buffer.MessageBuffer {*;}
-keep class org.msgpack.core.buffer.MessageBufferBE {*;}
-keep class org.msgpack.core.buffer.MessageBufferU {*;}

[2018-10-15 11:59] chintan-mishra commented on #469
@keyguansz IIRC then the new rules are leaving the packages as they were. If I get time this weekend then maybe I will try to figure out more specific rules.

[2018-10-15 21:58] aesy opened #487 "Strings of integers over 2^63-1 gets encoded as float64 instead of uint64"
The problem lies in the following code:

https://github.com/msgpack/msgpack-java/blob/87d38a08dcd23ca67aff61ab05f4a18888055b7e/msgpack-jackson/src/main/java/org/msgpack/jackson/dataformat/MessagePackGenerator.java#L437-L477

I will provide an example. Take the following input: "9223372036854775808" (2^63)
Since Javas `Long` type max value is 2^63-1, the first try will fail, continuing to the next

[2018-10-29 04:00] mattbishop opened #489 "Single-precision doubles always written at FLOAT64 instead of FLOAT32"
A single-precision decimal value should be written as a smaller FLOAT32 instead of always using FLOAT64. A simple test for single-precision can be added to `ImmutableDoubleValueImpl`:

[code]

[2018-12-02 02:13] xerial commented on #489
@mattbishop It's because msgpack's specification of Float _Value_ type:
https://github.com/msgpack/msgpack/blob/master/spec.md#type-system

Value objects are implementation of MessagePack types systems, and it's a bit different MessagePack's format types, which have FLOAT32/64.

[2018-12-02 20:07] mattbishop commented on #489
The Float Value type decides how to encode itself into the msgpack stream, and the spec allows for either single-precision or double-precision float values in the encoded result. The single precision is shorter, and thus preferrable, when no data loss will occur.
[code]

My request with this issue is to consider packing a double as Float32 when it will correctly encode the value, and thus save spa

[2018-12-11 16:22] xerial commented on #489
@mattbishop I understand what you need. For clarity, msgpack has two specs for formats (with FLOAT32/64) and types (only FLOAT64).
- (Double)Value is an implementation of msgpack types, so we need to follow the spec, that is, representing DoubleValues as double-precision values inside Value objects.

If we check float -> DoubleValue(double) -> float has no precision loss as you showed, it would be

[2018-12-12 03:30] arganzheng commented on #399
I write a Utils for this purpose:

[code]

[2018-12-14 07:13] shllove opened #492 "nested custom type how to define and use custom template"
hi there,
I have one custom type like:
@Message
public class TwoTuple<T1, T2> implements Serializable  {

    /**
	 * serialVersionUID
	 */
	private static final long serialVersionUID = -9116740696855326636L;

	private T1 first;

    private T2 second;

    public TwoTuple() {

    }

    public TwoTuple(T1 first, T2 second) {
        this.first = first;
        this.second = second;
    }

    pu

[2018-12-14 07:13] shllove commented on #492
I use version 0.6.12

[2019-01-31 12:23] shilpauran opened #494 "Can messagepack be used for data validations in java?"
I am getting a Json payload and this payload needs to be undergo data validations. Currently this is proved to be an in-efficient way of doing validations with many ifs and thens. So i was suggested to use MESSAGEPACK for effective validation . I have gone through many links on how to use MessagePack. Almost all the links talk about serializing and deserializing, but i failed to find a link to use

[2019-02-06 17:31] thinkberg commented on #485
Hi @komamitsu, sorry for the delay, I do think your solution works, but I don't have POJOs for that specific case. I do receive an envelope {"a":123, "p": ["foo":"...."]} where the type foo is basically anything that is valid msgpack. If within p there is a RawStr encoded blob it will be broken. I do know whether in p may be RawStr encoded data (a is a version number), but the only way to fix the

[2019-02-07 14:10] thinkberg commented on #485
What I am looking for, is a way to intercept the currently hardwired way that a FIXSTR/STRx conversion is done. This is even asked for in the specification: https://github.com/msgpack/msgpack/blob/master/spec.md#limitation

```Deserializers should provide functionality to get the original byte array so that applications can decide how to handle the object```

[2019-02-16 14:04] komamitsu commented on #485
One possible option is to add a feature flag makes jackson-dataformat-msgpack handle all STRs as `byte[]`. Do you think it works for your case? With this feature, you would get original byte array even if it's encoded as STR, but you need to receive all valid STRs as `byte[]`.

IMO, using MessageUnpaker sounds the best way for such a case, though.

[2019-03-10 13:37] millsbr opened #495 "Subclassing supported?"
Is subclassing supported? Do the normal Jackson annotations work?

[2019-03-23 03:01] wuxin402 opened #496 "Can not unpack byte array to get parameter name?"
If you use messagepack to pack one java bean,when you unpack the byte array,then find the parameter name is lost.The issue maybe one bug

[2019-03-23 06:15] wuxin402 commented on #496
if you use messagepack to pack one java bean,then use nodejs to  unpack the buffer,find the parameter name is lost

[2019-04-18 17:26] Matulis opened #497 "Improvement: Add option to cache byte[] to String mappings for Key"
In some cases when you know you have a limited set of keys and have a very large volume of incoming messages sharing the same keys, it may be beneficial to store a mapping of byte[] to Strings, this can reduce the object creation from decoding as well as allow you to utilize the same string objects in memory.

For example Jackson allows the JsonFactory feature flag of: https://fasterxml.github.io/

[2019-04-18 17:27] Matulis commented on #497
Implementation could be pretty simple, but would be nice to add a dependency on a cache library(Guava Cache or Caffeine) to avoid having to roll a new one, thoughts?

[2019-04-18 17:57] Matulis commented on #497
Actually I just realized that the actual implementation of the cache can be left up to the user, so I will submit a pull request with the interface that can optionally be implemented by end users

[2019-04-23 14:37] komamitsu commented on #496
I think you mentioned about the behaviour in v0.6 or earlier which serializes a POJO to an array of values.

You can use [jackson-dataformat-msgpack](https://github.com/msgpack/msgpack-java/blob/develop/msgpack-jackson/README.md) bundled in v0.7 or later which serializes a POJO to a map of key-values.

[2019-04-23 15:01] glautrou commented on #417
I have a similar problem, any solution?

[2019-04-23 16:52] komamitsu commented on #497
Interesting. I guess, what you want to do is like this?
https://github.com/FasterXML/jackson-core/blob/e3574ea3db06c7e69625b5962a34430e89011ac2/src/main/java/com/fasterxml/jackson/core/sym/CharsToNameCanonicalizer.java#L485-L487

Maybe you can use this one as a cache w/o additional dependency
https://github.com/FasterXML/jackson-core/blob/e3574ea3db06c7e69625b5962a34430e89011ac2/src/main/java/com/

[2019-05-09 10:24] ponnur opened #498 "OOM exception for invalid msgpack messages"
Getting "java.lang.OutOfMemoryError: Java heap space" exception while reading from invalid message pack.  We get this error when the message pack array size is invalid. Expecting an exception like "no more data" instead of OOM in these scenarios.

`val msgpackMapper = new ObjectMapper(new MessagePackFactory)`
   `msgpackMapper.registerModule(DefaultScalaModule)`

`// Invalid Message pack hex val f

[2019-05-09 14:02] reezhu opened #499 "add support for str8"
Hi, thanks for you work
Recently I have meet a situation to communicate with msgpack in python.
The python project(can't modify) send the message with .packb(data, use_bin_type=True) and decode with .unpack(data, raw=False), but i found the java version seems to miss str8 encode support or do I miss the way to send a message with java with use_bin_type=True?

[2019-05-12 09:19] komamitsu commented on #495
Yes. You can use Jackson databind annotations.

[2019-05-12 09:19] #495 closed

[2019-05-12 12:00] #496 closed

[2019-05-12 12:11] komamitsu commented on #494
You can deserialize MessagePack format byte array to a POJO like https://github.com/msgpack/msgpack-java/blob/develop/msgpack-jackson/README.md#serializationdeserialization-of-pojo and then validate it.

[2019-05-12 12:11] #494 closed

[2019-05-22 00:15] #498 closed

[2019-05-24 02:47] sayid opened #502 "how to pack/unpack object"
Excuse me.
How to pack/unpack object?
Could i use it like jsonobject？

[2019-06-15 10:50] dimitarndimitrov opened #504 "Using a component with known vulnerability - `jackson-databind` 2.8.11.1"
Similar to #463, the latest `msgpack-java` (version 0.8.16) still uses `jackson-databind` (version 2.8.11.1) that has security vulnerabilities.
See https://www.sourceclear.com/vulnerability-database/security/deserialisation-of-untrusted-data/java/sid-8093.
* The earliest recommended version to upgrade to is 2.9.9, as the whole 2.8.x range is affected by this or other issues.

P.S. Unfortunately th

[2019-06-16 07:29] #504 closed

[2019-06-16 07:30] komamitsu commented on #504
@dimitarndimitrov Thanks for reporting!

[2019-07-08 17:15] Sergey123456 commented on #233
Does not work!
![2019-07-08_20-11-05](https://user-images.githubusercontent.com/22378271/60829178-08339580-a1bd-11e9-946c-06edd7722eec.jpg)

[2019-07-09 14:02] komamitsu commented on #233
@Sergey123456 Your code doesn't seem to use msgpack-java....

[2019-07-09 14:20] komamitsu commented on #502
@sayid I hope https://github.com/msgpack/msgpack-java/blob/develop/msgpack-core/src/test/java/org/msgpack/core/example/MessagePackExample.java would help you.

You mean `org.json.JSONObject`, right? We don't support it, but you can use `com.fasterxml.jackson.databind.ObjectMapper` instead. See https://github.com/msgpack/msgpack-java/blob/develop/msgpack-jackson/README.md for details.

[2019-07-09 14:20] #502 closed

[2019-07-18 02:36] rotter opened #506 "Different bytes when serializing in C# vs Java"
I have a multiplatform multiplayer game which has its communication working in JSON. I was searching for a more optimized way to send/receive the data and found out about msgpack today, so bear with me if Im doing something stupid.

I migrated my whole architecture both in client (C# / Unity) and on the server (Java) to use msgpack but Im having an issue I cant figure out, I dont know if it's a bu

[2019-07-18 03:29] rotter commented on #506
I tried migrating my C# code to the msgpack-cli library (I hadnt noticed it existed before creating the issue), but I obtained a similar result, with the first byte being a "0x93" causing the same problem on the Java side.

[2019-07-21 21:20] rotter commented on #506
Ok, I was out of town for a few days, just got back today and finally got it to work. It seems that for some bizarre reason the C# side packs using one method (array) and the Java side tries to unpack using another method (map), so I have to on either side change the packing/unpacking method.

I wont close this issue as for me this is bizarrely weird for not being a bug, but feel free to close it

[2019-07-22 07:25] komamitsu commented on #506
Yeah. How an object is serialized in MessagePack is different over MessagePack serialize/deserialize libraries.

Historically speaking, msgpack-java v6 or earlier handled an object as MessagePack Array. It worked in Java world since the library was able to get field names using Java's reflection, but outside Java it was just an array of values and there was no way to get field names.

[2019-08-09 09:25] hkalina opened #508 "Nested serialization throws NullPointerException"
When serializing object whose getter use MessagePack serialization, the inner serialization breaks the outer serialization and it throws NullPointerException:
[code]
It tries to write into ByteArrayBuilder which is already released/closed.

Reproducible using following test: (feel free to include this or derivated into msgpack tests)
[code]
Identical test using standard (JSON) ObjectMapper works o

[2019-08-09 10:35] zde commented on #508
FYI this is probably caused by storing the byte output buffer in a ThreadLocal in MessagePackGenerator. Should be either converted to a field, or properly saved/restored before use.

[2019-08-10 09:22] komamitsu commented on #508
Wow, thanks for reporting that. I'll check it around mid-next week

[2019-08-25 07:18] komamitsu commented on #508
I think we have 3 options:
1. Prevent a buffer in use from being used by another (nested) MessagePackGenerator by adding an internal flag that represents whether the buffer is still in use
    * This could generate garbage buffers in ThreadLocal whose flag says it's still used. To prevent those garbage buffers from remaining, a garbage collector is needed. I tried this idea in https://github.com/m

[2019-08-30 13:24] #508 closed

[2019-11-19 09:54] ppkarwasz commented on #482
It's fixed in 0.8.19.

[2019-11-21 15:00] dbrgn opened #516 "Android: No virtual method position(I)Ljava/nio/ByteBuffer"
Since version 0.8.19, our Android CI (using Android 5 and 6 devices) started failing on a msgpack test. Here's a simplified reproducer:

[code]

The error message:

[code]

This is most probably due to the changes in #514 (cc @ppkarwasz). The test succeeds when running with msgpack-core version 0.8.18.

[2019-11-22 22:10] ppkarwasz commented on #516
I believe the library must have been compiled against the wrong JRE: in Java 8 the class`ByteBuffer` inherits the `position` method from `Buffer`and has a return type of `java.nio.Buffer`. On Java 11 the method is overridden with an implementation that returns `java.nio.ByteBuffer`.

@dbrgn: can you compile the library from source and check if it still fails the tests?

[2019-11-26 02:01] bananaumai commented on #516
I also faced same issues. I'm using this library for Android Project. As @ppkarwasz said, jvmTarget is configured as 1.8.

[2019-11-26 08:54] dbrgn commented on #516
My local Java version:

    $ java -version
    openjdk version "1.8.0_232"
    OpenJDK Runtime Environment (build 1.8.0_232-b09)
    OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)

I compiled the library locally:

    ./sbt publishM2

Then I added the local maven repo to my gradle file:

    repositories {
        ...
        maven { url "/home/<user>/.m2/repository" }
    }

...and fina

[2019-11-26 20:15] ppkarwasz commented on #516
@xerial, can you make another release? Version 0.8.19 is almost certainly compiled against JRE 11 and linking problems occur, when using another JRE.

Maybe it is possible to setup Travis CI to run the test against the **jar** file, so oversights like this don't occur?

[2019-11-27 06:59] xerial commented on #516
Got it. Thanks for the investigation.

We can add such an integration test using GitHub Action. First, I'll try to automate the release process to make sure to produce Java8 compatible jar files.

[2019-11-27 20:00] xerial commented on #516
Released 0.8.20 built with jdk8.

[2019-11-28 09:26] dbrgn commented on #516
Tthank you!

[2019-12-09 09:40] cash2910 commented on #506
I worked with PHP . and I got an array after serializing data from java.   I lose all the fields ...
but It worked at C# clients.

[2019-12-11 11:34] chaykin opened #517 "Deserialize multiple objects (not in list)"
I have a stream with some POJO's. There is no info about objects count inside. And I need to deserealize it. This is code sample to do it:

[code]

As a result of this code execution is exception:

[code]

And, if I use #readValue method instead of #readValues, it works... but I don't know, how many POJO's in stream...

So, it seems, it is a bug

[2020-01-29 14:10] NikitaZhelonkin commented on #517
I did it this way:
`  try {

            TestPOJO pojo1 = new TestPOJO("test1");
            TestPOJO pojo2 = new TestPOJO("test2");

            ByteArrayOutputStream out = new ByteArrayOutputStream();
            MessagePackFactory factory = new MessagePackFactory();
            ObjectMapper mapper = new ObjectMapper(factory);
            mapper.configure(JsonGenerator.Feature.AUTO_CLOSE_TARGET,

[2020-01-30 17:00] chaykin commented on #517
Sorry, but I don't like this solution... What if we have real exception while execution? Say, stream is corrupted? We can lose some POSO's...

[2020-02-06 11:49] komamitsu commented on #517
I guess @NikitaZhelonkin simplified the example code. How to handle an exception might depend on your use case.

This `jackson-dataformat-msgpack` is based on `jackson-databind` and I think this behaviour you reported can happen with `jackson-databind` as well. It would be better to ask the developers of the library.

[2020-03-14 01:58] Alanscut opened #518 "register an external Class by URLClassLoader throws an Exception"
**My intention is to serialize and deserialize an object which is delivered by external jar.**
[code]
* when I register above clazz to MsgPack, it will report an error:
[code]
* dependency:
[code]
* this is my VO:
[code]

[2020-03-23 08:29] Alanscut commented on #518
setClassLoader before regitering the class is the right way.

[2020-03-23 08:29] #518 closed

[2020-03-23 15:59] AaronSharp5 commented on #233
Adding to @borice comment to address @Sergey123456 issue, which I also encountered:
In addition to `JsonGenerator.Feature.AUTO_CLOSE_TARGET`, which controls `OutputStream`s when serializing `Object` to JSON, there is another feature, `JsonParser.Feature.AUTO_CLOSE_SOURCE`, which controls `InputStream`s when deserializing JSON to `Object`. So if you want to handle closing both `Input-` and `OutputS

[2020-04-06 23:00] baraknielsen opened #519 "Unpacking Set of complex type"
Hi,

I'm trying to pack and unpack a set of a complex type which include 2 strings,

but when the unpacking occurs I get:

Exception in thread "main" org.msgpack.MessageTypeException: Array is end but readArrayEnd() is not called at org.msgpack.unpacker.UnpackerStack.checkCount(UnpackerStack.java:61) at org.msgpack.unpacker.MessagePackUnpacker.readOne(MessagePackUnpacker.java:72) at org.msgpack.un

[2020-04-08 13:19] komamitsu commented on #519
I guess you're using msgpack-java v0.6 or earlier. But current version is v0.8 that doesn't have compatibility with v0.6 and unfortunately we don't maintain the old version. I strongly recommend to use the latest version.

[2020-04-08 13:19] #485 closed

[2020-04-08 13:34] komamitsu commented on #506
I'm closing this issue. If you still have any trouble with this issue, feel free to reopen it.

[2020-04-08 13:34] #506 closed

[2020-04-08 13:34] #517 closed

[2020-04-21 12:12] DonaldMaparura commented on #340
hi guys
how can l solve this error
"Cannot deserialize instance of `java.lang.String` out of START_OBJECT token"
im trying to convert a json string into an object

[2020-05-19 04:25] ramiws opened #521 "Is this project dead?"
Hi,

This looks like a dead project to me because I wasted 3 hours navigating through dead links and not working/old examples:
1- check this:
MessagePack for Java
QuickStart for msgpack-java is available here. (https://github.com/msgpack/msgpack-java/wiki/QuickStart)  dead end

2- the example on the main website showing oh how easy this is:
MessagePack msgpack = new MessagePack();
// Serialize
byt

[2020-05-21 20:58] xerial commented on #521
We had a big jump between version 6 and 7. I think you are looking at v6, which is no longer maintained.

[2020-05-21 21:21] xerial commented on #521
Absolutely no. Let me close the ticket.

[2020-05-21 21:21] #521 closed

[2020-05-21 21:23] xerial commented on #499
msgpack-java supports str8. Make sure you are using the latest version of msgpack-java.

[2020-05-22 16:37] xerial commented on #521
@ramiws I see why you saw the obsolete doc. Thanks for reporting. I'll fix that doc.

[2020-05-22 16:42] xerial commented on #521
The main site msgpack.org will be updated soon. The usage example can be found here https://github.com/msgpack/msgpack-java/blob/develop/msgpack-core/src/test/java/org/msgpack/core/example/MessagePackExample.java

[2020-06-01 23:39] xerial opened #522 "Force using jvm 1.8 target"
build.sbt need to enforce using jvm1.8 target to avoid an issue like #516

[2020-06-03 00:25] #522 closed

[2020-07-28 05:18] cozima0210 opened #526 "Exception in thread "main" com.fasterxml.jackson.databind.JsonMappingException: Invalid type=INT"
When I use this library with my scala project, below Exception occurs. It seems that it occurs when I try to deserialize a value of BigDecimal serialized by Messagepack.

[code]

[code]

[code]
I have already found that the workaround is to fix `getText` in `MessagePackParser.java(msgpack/msgpack-java)` like below.
https://github.com/cozima0210/msgpack-java/commit/d11ecc5584440ab97d3520062de83c72b

[2020-07-28 05:23] cozima0210 commented on #526
I also send a same [issue](https://github.com/FasterXML/jackson-module-scala/issues/458) to https://github.com/FasterXML/jackson-module-scala/.

[2020-08-03 15:17] komamitsu commented on #526
I tried to reproduce this issue in Java, but I couldn't. Is there any way to reproduce this issue without jackson-module-scala?

[2020-08-04 15:27] cozima0210 commented on #526
@komamitsu Thanks for your reply. No, it isn't. If you tried to reproduce it with `java.math.BigDecimal`, please confirm this issue with `scala.math.BigDecimal`. Currently I don't understand which repository should be fixed to resolve this error.

[2020-08-04 17:48] pjfanning commented on #526
@komamitsu the fix in https://github.com/cozima0210/msgpack-java/commit/d11ecc5584440ab97d3520062de83c72b8167b2b is to allow getText to work for numbers. It is not not uncommon for users to encode numbers as JSON strings because many JSON libs assume JSON numbers are doubles and double are only an approximation of the actual number - while in text you can provide the number with arbitrary precisio

[2020-08-30 15:18] #526 closed

[2020-08-30 20:33] pjfanning opened #529 "use latest version of jackson (2.13.+)"
Does cause 3 tests to fail:

https://github.com/msgpack/msgpack-java/runs/1048509743

[2020-08-31 07:33] komamitsu commented on #529
Oh, interesting. Let me look into it later.

[2020-09-04 13:45] shiipou opened #530 "msgpack on Android with jackson result of Failed resolution of: Lorg/msgpack/value/holder/ValueHolder"
Hi, I tried to use Msgpack on android but I can't make it work.

I tried to unpack a Map<String, Object> into my app using the following piece of code :
[code]

But it fail with the error :
[code]

My Map look like :
[code]
PS: all parameter with value as `null` is not send. I've post it to help you to understand my structure.

My gradle depencvies :
[code]

Full error :
[code]

[2020-09-11 19:15] ktholen commented on #526
@komamitsu @pjfanning would it be possible to cut a new release? We just ran into this problem today and would like to use the new version in our application.

[2020-09-12 07:32] komamitsu commented on #526
@ktholen Released 0.8.21 that includes this fix.

[2020-09-15 08:08] fancky2019 opened #531 "Deserialization Error"
I serialize my pojo in Java via "jackson-dataformat-msgpack".I send serialized bytes to c# client via socket. C# Client can not deserialize successfully via "MessagePack-CSharp". The deserialized property's values are default. Can you give me some suggestion.Below is my code. In my project,I serialize or deserialize successfully both in java and c#.

pojo:

public class MessageInfo {
    private M

[2020-09-15 16:35] ktholen commented on #526
Thank you! Works as expected!

[2020-09-16 13:40] #531 closed

[2020-09-16 13:40] fancky2019 commented on #531
c

[2020-09-22 16:23] nikoncode opened #532 "unable to deserialize map with non-string key"
Guys,

Entry with custom typed key is missing in the result during map deserialization.
Possible reason that custom typed fields are deserialized as `JsonToken.VALUE_EMBEDDED_OBJECT` which is not acceptable for `MapDeserializer` since it requires field.

As a result serialization/deserialization loop is broken.

Snipped below reproduces the problem (but simplified):
[code]

Does it possible to som

[2020-10-22 06:17] KshitijGoMmt opened #533 "How to reduce the parsing time of Message pack library when unpacking large amount of data"
For an android app, unpacking the data from streaming apis form the received InputStream, the parsing takes way too long.

There is one single line of code that takes away around **600-800ms** for data of size **16.65kb.**

[code]

How can I make this faster? Its less than 50ms in iOS phone using MPMessagePack library which does the parsing in C language internally.

Here are the things I have alr

[2020-10-26 09:14] KshitijGoMmt commented on #533
@komamitsu Can you please shed some light on this. Something that probably not being done correctly by us, or any other way to speed it up. It would be great if we can reach anywhere close to the iOS benchmark.

[2020-10-26 09:56] komamitsu commented on #533
[code]

The performance of parsing depends on source data and I didn't get what kind of data this `unpacker` contains. Could you give me reproducible code?

[2020-10-26 10:25] KshitijGoMmt commented on #533
Thanks for the quick reply.
The line
`ImmutableValue val = unpacker.unpackValue();`
works relatively quicker.

The issue is with this line majorly:

`**JSONObject jsonObj=new JOSNObject(val.toString());**`

And to be even more specific. Its with` **val.toString()**` method.

the val.toString() methods takes more than 600 ms for ~16kb of data.

Let me ask if I can share the data since its private t

[2020-10-26 10:35] KshitijGoMmt commented on #533
Please use this URL to check the conversion from ImmutableValue to String

curl --location --request GET 'https://thor.goibibo.com/v2/thor/rest/flight/search/mse/?userid=asd&hash=2837423032023&slotfl=y1&versioncode=720&actionData=%5B%7B%22query%22%3A%22air-DEL-BLR-20201124--1-0-0-E-100--%22%7D%5D&msgpack=true&mime=json&nearbyfl=y1&opf=1&application=fbs&flavour=ios' \
--header 'Cookie: _abck=735F0F

[2020-10-26 11:16] komamitsu commented on #533
I parsed the data with the following code and I couldn't reproduce the performance issue since it took only 60ms
[code]

BTW, `JOSNObject` isn't a part of msgpack-java and maybe you'd better ask the developer of the library about the performance of `JOSNObject`.

[2020-10-26 11:36] KshitijGoMmt commented on #533
First of all what machine are you using to parse it?
1. Is it a desktop
2. Or is it a mobile?

In my case I have been using this lib on Android mobile device and I suspect it could also be one possible reason for this mismatch in your timestamp logs and mine.

For these log I shared above, my code looked something like this:

[code]

which results in this:
2020-10-26 15:08:39.934 29582-32399/com.x

[2020-10-26 12:33] komamitsu commented on #533
Ah, msgpack-java uses `sun.misc.Unsafe` for performance optimization and the class isn't supported in Android . So msgpack-java in Android uses non performance optimized implementation. https://github.com/msgpack/msgpack-java/blob/bef0ccdb9b1be70c533f81e0c459fdef6f578cd2/msgpack-core/src/main/java/org/msgpack/core/buffer/MessageBuffer.java#L87-L92
As you mentioned as question#1, I guess it may be

[2020-10-26 14:59] KshitijGoMmt commented on #533
I tried the suggested link and it worked fine. The issue still was in the same thing, converting the value to String. i.e. val.toString();

I was doing some research on this class and android sdk classes. I found some interesting things.
 Here are my observations and questions based on them:

1.  Tried and copied the Unsafe.java class file from java platform but it doesn’t seem to recognise some i

[2020-10-27 12:30] KshitijGoMmt commented on #533
@komamitsu Please let me know your thoughts on my suggestions. Looking forward to it.

[2020-10-27 13:57] komamitsu commented on #533
msgpack-java detects the platform by checking some other other things not only the existence of Unsafe https://github.com/msgpack/msgpack-java/blob/bef0ccdb9b1be70c533f81e0c459fdef6f578cd2/msgpack-core/src/main/java/org/msgpack/core/buffer/MessageBuffer.java#L73-L92. I think you need to make `System.getProperty("java.runtime.name")` not to return `Android` at least. I'm not sure copying Unsafe wor

[2020-10-27 14:05] KshitijGoMmt commented on #533
@komamitsu  Sure I will give it a try and share the results if I find some workaround or any working solution.
Thanks for all of your help and quick responses. I totally appreciate it.

[2020-12-10 05:57] hudingchen opened #534 "MessagePack cannot serialize a BigDecimal that can't be represented as double. 0.00001"
java version: Java 11
jackson-dataformat-msgpack version: 0.8.20

sample:
[code]
[code]

error:
[code]

[2020-12-11 14:20] komamitsu commented on #530
Sorry for my late response.

`org.komamitsu:jackson-dataformat-msgpack` has been merged into this project as `org.msgpack:jackson-dataformat-msgpack`. How about trying this?

[code]

[2020-12-12 15:22] komamitsu opened #536 "ExtensionTypeCustomDeserializers's addTargetClass() and addTargetTypeReference() wrongly expect `data` filed in ext type value is MessagePack format"
The 2 methods wrongly expect `data` field in ext type value is MessagePack format, but the format of ext type `data` field (https://github.com/msgpack/msgpack/blob/master/spec.md#ext-format-family) isn't supposed to be MessagePack. So the 2 methods should be removed.

[2020-12-16 12:20] #532 closed

[2020-12-16 12:35] komamitsu commented on #532
@nikoncode Thanks for reporting this issue and sorry for my late response.

I fixed this in https://github.com/msgpack/msgpack-java/pull/535.

I hope the following documents and codes help you to know the detailed usage.
- https://github.com/msgpack/msgpack-java/tree/develop/msgpack-jackson#use-extension-type-as-map-key
- https://github.com/msgpack/msgpack-java/tree/develop/msgpack-jackson#use-ext

[2020-12-16 13:47] #536 closed

[2020-12-17 11:28] #534 closed

[2020-12-17 11:55] komamitsu commented on #534
@hudingchen Thanks for reporting this issue. I fixed it in https://github.com/msgpack/msgpack-java/pull/540.

[2020-12-24 16:12] panicbit opened #542 "MessageBuffer allows unsafe out-of-bounds reads and writes"
The `get` and `put` family of functions on `MessageBuffer` are all missing bounds checks and thus can read and write out of bounds.

E.g. in the following example, the read `value` is either an undefined value or triggers a segfault:
[code]

Since this unsafety is exposed publicly and not documented, it can be quite dangerous.
If the ability to skip the bounds check is an intended feature, then I'